﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/menu.css" rel="stylesheet" />
    <link href="~/css/app.css" rel="stylesheet" />


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>

        $(document).ready(function () {
            $('.navbar .dropdown-item').on('click', function (e) {
                var $el = $(this).children('.dropdown-toggle');
                var $parent = $el.offsetParent(".dropdown-menu");
                $(this).parent("li").toggleClass('open');

                if (!$parent.parent().hasClass('navbar-nav')) {
                    if ($parent.hasClass('show')) {
                        $parent.removeClass('show');
                        $el.next().removeClass('show');
                        $el.next().css({ "top": -999, "left": -999 });
                    } else {
                        $parent.parent().find('.show').removeClass('show');
                        $parent.addClass('show');
                        $el.next().addClass('show');
                        $el.next().css({ "top": $el[0].offsetTop, "left": $parent.outerWidth() - 4 });
                    }
                    //e.preventDefault();
                    e.stopPropagation();
                }
            });

            $('.navbar .dropdown').on('hidden.bs.dropdown', function () {
                $(this).find('li.dropdown').removeClass('show open');
                $(this).find('ul.dropdown-menu').removeClass('show open');
            });

        });

    </script>
</head>
<body style="padding-right:0%;padding-top:0%;padding-left:0%;width:100%">
    @if (ViewBag.Title != "Login")
    {

        <div style="background-color:gainsboro;padding-right:8%;padding-left:8%;padding-top:0%;width:100%;">

            <h1 style="display:inline; white-space:nowrap;margin-left:38%;font-family:Algerian;">
                <b style="color:black;font-size:65px">A</b><b style="color:cornflowerblue">rtemis</b>
            </h1>
            <div id="image" style="display:inline;margin-left:19%;padding-top:0%;">
                @*<img src="~/Image/plutuslogo.png" />*@
            </div>
            <div style="padding-top:0.5%">
            </div>
        </div>

        <div class="navbar navbar-expand-md  " role="navigation">
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;">Menu</a>
                        <ul class="dropdown-menu firstLevel" aria-labelledby="dropdown2">
                            <li class="dropdown-item dropdown ">
                                <a class="dropdown-toggle" id="dropdown2-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">File</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdown2-1">
                                    <li class="dropdown-item dropdown">
                                        <a class="dropdown-toggle" id="dropdown2-1-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Insurance</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdown2-1-1">
                                            <li class="dropdown-item">
                                                <a href="~/Home/InsuranceLookUp" style="color:black;">Insurance</a>
                                            </li>
                                            <li class="dropdown-item"><a href="#" style="color:black;">Insurance Participation by provider</a></li>
                                            <li class="dropdown-item" href="#" style="color:black;"><a>Insurance by provider lookup</a></li>
                                        </ul>
                                    </li>
                                    @*<li class="dropdown-item"><a href="~/Home/Pharmacy" style="color:black;">Pharmacy</a></li>*@
                                    <li class="dropdown-item"><a href="~/Home/Attorney" style="color:black;">Attorney</a></li>
                                    <li class="dropdown-item"><a href="~/Home/Employer_LookUp" style="color:black;">Employers</a></li>
                                    <li class="dropdown-item"><a href="~/Home/InsuranceGroup" style="color:black;">Insurance Group</a></li>
                                    <li class="dropdown-item"><a href="~/Home/Guarantor" style="color:black;">Gaurantor</a></li>
                                    <li class="dropdown-item"><a href="~/Home/Facility" style="color:black;">Facility</a></li>
                                    <li class="dropdown-item"><a href="#" style="color:black;">Provider</a></li>
                                    <li class="dropdown-item"><a href="#" style="color:black;">Data by facility</a></li>
                                    <li class="dropdown-item"><a href="#" style="color:black;">ReferringPhysicians</a></li>
                                    <li class="dropdown-item"><a href="#" style="color:black;">Zip Codes</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-item dropdown">
                                <a class="dropdown-toggle" id="dropdown2-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Patient</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdown2-1">
                                    <li class="dropdown-item" href="~/Home/NewPatientRegistration"><a>New</li>
                                    <li class="dropdown-item" href="~/Home/PatientLookUp"><a>Lookup</a></li>
                                    <li class="dropdown-item" href="~/Home/PatientRecall"><a>Patient Recall</a></li>
                                    <li class="dropdown-item" href="~/Home/PatDemographicLockedFields"><a>Patient Demographics Locked Fields</a></li>
                                    
                                </ul>
                            </li>
                            <li class="dropdown-item"><a href="#" style="color:black;">Schedule</a></li>
                            <li class="dropdown-item"><a href="#" style="color:black;">Billing</a></li>
                            <li class="dropdown-item"><a href="#" style="color:black;">Reports</a></li>
                            <li class="dropdown-item"><a href="#" style="color:black;">ePayments</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color:white;">Practice<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color:white;">Registry<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color:white;">Referrals<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color:white;">Messages<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color:white;">Documents<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color:white;">Billing<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color:white;">Analytics<span class="sr-only"></span></a>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link" href="#" style="color:white;">Healow<span class="sr-only"></span></a>
                        </li>*@
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color:white;">Admin<span class="sr-only"></span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div style="margin:12px 5px; ">
            <span id="Username" style="float:right">
                <label>
                    <b style="color:black;">Welcome : </b>
                </label>
                <label style="text-decoration-line:underline">
                    <b style="color:darkblue;">
                        Thyagaraja@calpion.com
                    </b>
                </label>

            </span>
        </div>

    }
    <div class="container-fluid body-content">

        <div style="    margin-top: 48px;">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - A Calpion Product</p>
        </footer>
    </div>

</body>
</html>