h5{
    font-size:16px !important;
}

label, p, input, option, button {
    font-size: 12px !important;
}

th {
    font-size: 14px !important;
}
td {
    font-size: 12px !important;
}
select {
    font-size: 14px !important;
}



    .positiveBtn {
        border-radius: 6px;
        color: white;
        background-color: cornflowerblue;
        padding: 5px 16px;
        font-size: 10px;
        border: none;
    }

.negativeBtn {
    border-radius: 6px;
    color: white;
    background-color: orangered;
    padding: 5px 16px;
    font-size: 10px;
    border: none;
}

.firstLevel {
    min-width: 120px !important;
}
    .firstLevel li {
        padding: 2px 12px !important;
        line-height: 1.2 !important;
    }
        .firstLevel li a {
            font-size: 12px;
            padding: 0 !important;
        }