﻿
@{
    ViewData["Title"] = "AccInquiry";
}

<h5>Acc Inquiry</h5>

<style>
    input[type="radio"] {
        margin: 0 10px 0 10px;
    }

    input[type="checkbox"] {
        margin: 0 10px 0 10px;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .footer {
        background-color: #777;
        padding: 10px;
        text-align: center;
        color: white;
    }
</style>
<div style="margin:auto;width:100%;border-radius:15px;border:1px solid #808080;padding:50px;">

    <div class="row">
        <div class="form-group col-md-4" style="margin-left:35px">
        </div>
        <div class="form-group col-md-4" style="margin-left:35px">
        </div>

        <a href="~/Home/InsuranceBalance"><input type=button align="right" value='Patient Insurance Balance' /></a>
    </div>
    <hr />

    <div class="row">
        <label for="Name" class="col-md-1 control-label">Service Dates:</label>
        <div class="form-group col-md-2" style="margin-left:35px">
            <input type="date" class="form-control" id="Name" />
        </div>

        <div class="form-group col-md-2" style="margin-left:35px">
            <input type="date" class="form-control" id="Name" />
        </div>

        <label for="Name" class="col-md-2 control-label">Billed to:</label>
        <select class="form-group col-md-2" align="right" id="myList" style="margin-left:05px">
            <option value="1">All</option>
            <option value="2">Insurance Only</option>
            <option value="3">Patient Only</option>

        </select>
    </div>
    <div class="row">
        <label for="Name" class="col-md-2 control-label">Claim Balanace:</label>
        <select class="form-group col-md-3" align="right" id="myList" style="margin-left:05px">
            <option value="1">All</option>
            <option value="2">Not Equals to 0</option>
        </select>

        <label for="Name" class="col-md-2 control-label"> Facility:</label>
        <div class="form-group col-md-3" style="margin-left:35px">
            <input type="text" class="form-control" id="Name" />
        </div>

    </div>
    <div class="row">
        <label for="Name" class="col-md-1 control-label">Name:</label>
        <div class="form-group col-md-3" style="margin-left:35px">
            <input type="text" class="form-control" id="Name" />
        </div>

        <label for="Name" class="col-md-2 control-label"> Select Case:</label>
        <div class="form-group col-md-3" style="margin-left:35px">
            <input type="text" class="form-control" id="Name" />
        </div>
    </div>
    <hr />
    <form action="/action_page.php" method="get">
        <div class="row">
            <input type="checkbox" name="vehicle" value="Bike"><h6> Show CPT Payments </h6><br />
            <input type="checkbox" name="vehicle" value="Car" ><h6> Show CPT Payments Totals</h6><br />
            <input type="checkbox" name="vehicle" value="Car" ><h6> Show Voided Claims</h6><br />
            <input type="checkbox" name="vehicle" value="Car" ><h6> Show CPT Finacial Adjs</h6><br />
        </div>
            
            <input type="submit" value="Filters">
    </form>
    <hr />
    <h5>Claim for the services provided during the selected date - Total Claim : 0  No of Result</h5>
    <hr />

    <table style="width:100%">
        <tr>
            <th></th>
            <th>Claim No</th>
            <th>Date</th>
            <th>Description</th>
            <th>Charges</th>
            <th>Payment</th>
            <th>Adjust</th>
            <th>With Held</th>
            <th>Pt Bal</th>
            <th>Ins Bal</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Total</td>
            <td></td>
            <td>$0.00</td>
            <td>$0.00</td>
            <td>$0.00</td>
            <td>$0.00</td>
            <td>$0.00</td>
            <td>$0.00</td>
        </tr>
    </table>

    <hr />

    <a><input type=button value='Copy' /></a>
    <a href="~/Home/PatientAlerts"><input type=button value='Alerts' /></a>
    <a href="~/Home/EMGContact"><input type=button value='View Claim Summary' /></a>
    <a href="~/Home/Patientinquiry"><input type=button value='Statements' /></a>
    <a  href="~/Home/Patientinq"><input type=button value='Pt Payments' /></a>


</div>


