﻿@{
    ViewData["Title"] = "AddCPT";
}



<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .btnPadding {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
        .nopadding {
            padding: 0 !important;
            margin: 0 !important;
        }

        .footer {
            background-color: #777;
            padding: 10px;
            text-align: center;
            color: white;
        }

        .mycontent-left {
            border-left: 1px solid #808080;
        }
    </style>
    <script type="text/javascript">
        function navigationBar(Value) {
            if (Value == "feeschedule") {
                window.location.href = "AddCPT";
            }
            else if (Value == "descriptions") {
                window.location.href = "CptDescription";
            }
            else if (Value == "associatedcodes") {
                window.location.href = "AssociatedCode";
            }
        }
    </script>
</head>
<body>
    <div class="row">
        <div class="col-md-7">
            <h2 style="margin:0px">Add CPT</h2>
        </div>
        <div class="form-group col-md-5 nopadding">
            <button class="btn btn-default btnPadding" style="margin-left:50px" onclick="navigationBar('feeschedule')">Fee Schedule</button>
            <button class="btn btn-default btnPadding" onclick="navigationBar('descriptions')">Descriptions</button>
            <button class="btn btn-default btnPadding" onclick="navigationBar('associatedcodes')">Associated Codes</button>
        </div>
    </div>

    <div style="width:100%;border-radius:15px;border:1px solid #808080;padding:25px;">
        <div class="row" style="margin-bottom:0px">
            <div class="col-md-6 nopadding ">
                <div class="row">
                    <label for="Name" class="col-md-3 control-label">CPT/HCPCS</label>
                    <input type="text" class="form-control form-group col-md-6" id="Name" style="width:100px" />
                </div>
                <div class="row">
                    <label for="Name" class="col-md-3 control-label">Description</label>
                    <input type="text" class="form-control form-group col-md-6" id="Name" style="width: 100px" />
                </div>
                <div class="row">
                    <label for="Name" class="col-md-3 control-label">Place of Service</label>
                    <select id="myList" class="form-control btnPadding col-md-6" style="width:100px;height: 30px">
                        <option value="10"></option>
                        <option value="1">1-Pharmarcy</option>
                        <option value="2">2-Telehealth</option>
                        <option value="3">3-School</option>
                        <option value="4">4-Homeless shelter</option>
                        <option value="5">5-Office</option>
                    </select>
                </div>
                <div class="row">
                    <label for="Name" class="col-md-3 control-label">Type of Service</label>
                    <select id="myList" class="form-control btnPadding col-md-6" style="width:100px;height: 30px">
                        <option value="10"></option>
                        <option value="1">1-Whole blood</option>
                        <option value="2">2-Medical care</option>
                        <option value="3">3-Blood</option>
                        <option value="4">4-Renal Supplies</option>
                        <option value="5">5-Surgical</option>
                    </select>
                </div>
                <div class="row">
                    <label for="Name" class="col-md-3 control-label">Mod1</label>
                    <div class="form-group col-md-2 nopadding">
                        <input type="text" class="form-control" id="Name" />
                    </div>
                    <div class="form-group col-md-1 nopadding">
                        <button class="btn btn-default btnPadding">...</button>
                    </div>

                    <label for="Name" class="col-md-2 control-label">Mod3</label>
                    <div class="form-group col-md-2 nopadding">
                        <input type="text" class="form-control" id="Name" />
                    </div>
                    <div class="form-group col-md-1 " style="padding-left:0px">
                        <button class="btn btn-default btnPadding">...</button>
                    </div>
                </div>
                <div class="row">
                    <label for="Name" class="col-md-3 control-label">Mod2</label>
                    <div class="form-group col-md-2 nopadding">
                        <input type="text" class="form-control" id="Name" />
                    </div>
                    <div class="form-group col-md-1 nopadding">
                        <button class="btn btn-default btnPadding">...</button>
                    </div>

                    <label for="Name" class="col-md-3 control-label">Global Billing</label>
                    <div class="form-group col-md-1 nopadding">
                        <input type="text" class="form-control" id="Name" />
                    </div>
                    <span>Days</span>
                </div>
                <div class="row" style="padding-top:4px ">
                    <div class="col-md-4 ">
                        <input type="checkbox" name="" value="">
                        <label for="Name">Required CLIA ID</label>
                    </div>
                    <div class="col-md-5 nopadding">
                        <input type="checkbox" name="" value="">
                        <label for="Name">Requires Mammography </label>
                    </div>
                </div>
                <div class="row" style="padding-top:2px">
                    <div class="col-md-4 ">
                        <input type="checkbox" name="" value="">
                        <label for="Name">Inactive</label>
                    </div>
                    <div class="col-md-5 nopadding">
                        <input type="checkbox" name="" value="">
                        <label for="Name">Qualifies for HPSA Incentive</label>
                    </div>
                </div>
                <div class="row" style="padding-top:2px">
                    <div class="col-md-9 ">
                        <input type="checkbox" name="" value="">
                        <label for="Name">Suppress claim edith that warns if bill fee is <=50 </label>
                    </div>
                </div>
                <div class="row">
                    <label for="Name" class="col-md-3 control-label">Anesthesia Base Units</label>
                    <input type="text" class="form-control form-group col-md-6" id="Name" style="width:100px" />
                </div>
                <div>
                    <p>Effective Dates can be entered Valid for CPT/HCPCS Code only</p>
                </div>
                <div class="row">
                    <label for="Name" class="col-md-3 control-label">Effective Dates</label>
                    <input type="date" class="col-md-2" style="height:50%" />
                    <label for="Name" class="col-md-1 control-label">To</label>
                    <input type="date" class="col-md-2" style="height:50%" />
                </div>
                <div class="row" style="padding-top:4px">
                    <label for="Name" class="col-md-3 control-label">Service Type</label>
                    <select id="myList" class="form-control btnPadding col-md-6" style="width:100px;height: 30px">
                        <option value="10"></option>
                        <option value="1">Global</option>
                        <option value="2">Professional</option>
                        <option value="3">Facility</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 nopadding">
                <div class="row nopadding" style="border:1px solid #808080; height: 500px">
                    <table class="table table-bordered table-striped">
                        <tr style="background-color: gainsboro">
                            <th width="30%" class="nopadding text-center">Name</th>
                            <th width="20%" class="nopadding text-center">Unit Fee</th>
                            <th width="20%" class="nopadding text-center">Allowed Fee</th>
                            <th width="10%" class="nopadding"></th>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" class="form-control" id="Name" placeholder="Search by Name" style="margin-top:-4px" />
                            </td>
                            <td cell colspan="3">
                                <select class="form-control btnPadding" id="myList" style="width:100%; height:30px">
                                    <option value="1">All Fee Schedule</option>
                                    <option value="2">Current Fee Schedule</option>
                                </select>
                            </td>
                        </tr>
                        <tr style="font-size:15px">
                            <td>2017 Practise Fee (2017 Practise Fee- 05-24-2017 - 07-24-2027)</td>
                            <td></td>
                            <td></td>
                            <td><a href="">Edit</a>&nbsp;<a href="">Delete</a></td>
                        </tr>
                        <tr style="font-size:15px;">
                            <td>Master Fee Schedule(Medicare Fee Schedule 2017 -06-16-2017 -06-16-2017)</td>
                            <td></td>
                            <td></td>
                            <td><a href="">Edit</a>&nbsp;<a href="">Delete</a></td>
                        </tr>
                        <tr style="font-size:15px">
                            <td>Master Fee Schedule(2017 -06-16-2017 -06-16-2017)</td>
                            <td></td>
                            <td></td>
                            <td><a href="">Edit</a>&nbsp;<a href="">Delete</a></td>
                        </tr>
                    </table>
                </div>
                <div class="row" style="padding-top:4px; font-size:15px">
                    <div class="col-md-3">
                        <button class="btn btn-default btnPadding">❮❮ Pervious</button>
                    </div>
                    <div class="col-md-1" style="padding-left:0px">
                        <input type="text" class="form-control" id="Name" placeholder="1" />
                    </div>
                    <div class="col-md-2" style="padding-left:0px">
                        <button class="btn btn-default btnPadding">Next ❯❯</button>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-default btnPadding">Free Schedule Update Log</button>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-10">
                <button class="btn btn-default btnPadding">Associated CTP Groups</button>
            </div>
            <div class="col-lg-2">
                <a href="~/Home/Index">
                    <button class="btn btn-default btnPadding" style="border:1px solid #BDBDBD">Ok</button>
                </a>
                <a href="~/Home/Index">
                    <button class="btn btn-default btnPadding" style="border:1px solid #BDBDBD">Close</button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>