﻿@{
    ViewData["Title"] = "Attorney";
}

<h5>Attorney</h5>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <div style="margin:auto;width:100%;border-radius:15px;border:1px solid #808080;padding:50px;">
        <div class="row">

            <label for="TaxID">Attorney :</label>
            <div class="form-group col-md-2">
                <input type="text" class="form-control" id="TaxID" />
            </div>

            <select class="form-group col-md-2" align="right" id="myList" style="margin-left:05px">
                <option value="1">Name</option>
                <option value="2">Office</option>

            </select>
        </div>

        <div class="row col-md-2" sstyle="padding:50px;">
            @*<input type="button" href="~/Home/AttorneyPartial" id="attr1" style="margin-left:0px;margin-top:5px" value="NEW" />*@
            <a href="~/Home/AttorneyNewRegistration"><input type=button value='NEW'></a>
        </div>



        <table style="width:100%">
            <tr>

                <th>Attorney Name</th>
                <th>Office</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Phone No</th>
                <th>Fax No</th>
            </tr>

            <tr>
                <td>raj</td>
                <td>San francisco</td>
                <td>4305 Walla</td>
                <td>Dallas</td>
                <td>TX</td>
                <td>54444 6907</td>
                <td>901-901-9999</td>
                <td>901-901-9789</td>

            </tr>
        </table>

        <div class="modal-footer">
            <input type="button" id="AssignmentOverride" value="Cancel" />
        </div>
    </div>
</body>
</html>

