﻿@{
    ViewData["Title"] = "EmergencyContacts";
}

<h5>Contacts</h5>
<style>

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .footer {
        background-color: #777;
        padding: 10px;
        text-align: center;
        color: white;
    }

    body {
        font-family: Arial;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>
@*<div style="margin:auto;width:100%;border-radius:15px;border:1px solid #808080;padding:50px;">

    </div>*@


<div style="margin:auto;width:100%;border-radius:15px;border:1px solid #808080;padding:50px;">

    <div class="tab">
        <button onclick="openCity(event, 'London')">Emergency Contact </button>
        <button class="tablinks" onclick="openCity(event, 'India')">Guarantors</button>
        <button class="tablinks" onclick="openCity(event, 'Tokyo')">Employers</button>
        <button class="tablinks" onclick="openCity(event, 'Paris')">Attorney</button>
    </div>
    <hr />
    @*<div class="tab">

        </div>
        <hr />
        <div class="tab">

        </div>*@




    <div id="London" class="tabcontent">
        <div style="margin:auto;width:100%;border-radius:15px;border:1px solid #808080;padding:50px;">

            <div class="row">
                <label for="Name" class="col-md-1 control-label">First Name:</label>
                <div class="form-group col-md-2" style="margin-left:35px">
                    <input type="text" class="form-control" id="Name" />
                </div>

                <label for="Name" class="col-md-1 control-label">Last Name:</label>
                <div class="form-group col-md-2" style="margin-left:35px">
                    <input type="text" class="form-control" id="Name" />
                </div>
                <label for="Name" class="col-md-1 control-label">Middle Name:</label>
                <div class="form-group col-md-2" style="margin-left:35px">
                    <input type="text" class="form-control" id="Name" />
                </div>
            </div>

            <div class="row">

                <label for="Address1" class="col-md-1 control-label">Prefix:</label>
                <select class="form-group col-md-1" align="right" id="myList" style="margin-left:05px">
                    <option value="1">jr</option>
                    <option value="2">Sr</option>
                </select>
                <label for="Address1" class="col-md-1 control-label">Suffix:</label>
                <select class="form-group col-md-1" align="right" id="myList" style="margin-left:05px">
                    <option value="1">jr</option>
                    <option value="2">Sr</option>
                </select>
                <label for="Address1" class="col-md-1 control-label">DOB:</label>
                <div class="form-group col-md-4" style="margin-left:35px">
                    <input type="date" class="form-control" id="Address1" />
                </div>


            </div>
            <div class="row">
                <label for="Name" class="col-md-2 control-label">Relationship:</label>
                <select class="form-group col-md-2" align="right" id="myList" style="margin-left:05px">
                    <option value="1">Mother</option>
                    <option value="2">Father</option>
                    <option value="3">Brother</option>
                    <option value="4">Sister</option>
                </select>
                <label for="Address1" class="col-md-1 control-label">Contact:</label>
                <select class="form-group col-md-2" align="right" id="myList" style="margin-left:05px">
                    <option value="1">Emergency Contact</option>
                    <option value="2">Personal Contact</option>
                </select>
                <label for="Address1" class="col-md-1 control-label">Email:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="Address1" />
                </div>
            </div>

            <div class="row">
                <label for="Address1" class="col-md-1 control-label">Address1:</label>
                <div class="form-group col-md-8" style="margin-left:35px">
                    <input type="text" class="form-control" id="Address1" />
                </div>
            </div>
            <div class="row">
                <label for="Address1" class="col-md-1 control-label">Address2:</label>
                <div class="form-group col-md-8" style="margin-left:35px">
                    <input type="text" class="form-control" id="Address1" />
                </div>
            </div>
            <div class="row">
                <label for="Address1" class="col-md-1 control-label">City:</label>
                <div class="form-group col-md-2" style="margin-left:35px">
                    <input type="text" class="form-control" id="Address1" />
                </div>

                <label for="Address1" class="col-md-1 control-label">State:</label>
                <div class="form-group col-md-2" style="margin-left:35px">
                    <input type="text" class="form-control" id="Address1" />
                </div>

                <label for="Address1" class="col-md-1 control-label">Zip:</label>
                <div class="form-group col-md-2" style="margin-left:35px">
                    <input type="text" class="form-control" id="Address1" />
                </div>
            </div>
            <div class="row">
                <label for="Address1" class="col-md-1 control-label">Home No:</label>
                <div class="form-group col-md-2" style="margin-left:35px">
                    <input type="text" class="form-control" id="Address1" />
                </div>

                <label for="Address1" class="col-md-1 control-label">Mobile No:</label>
                <div class="form-group col-md-2" style="margin-left:35px">
                    <input type="text" class="form-control" id="Address1" />
                </div>
                <label for="Address1" class="col-md-1 control-label">Office No:</label>
                <div class="form-group col-md-2" style="margin-left:35px">
                    <input type="text" class="form-control" id="Address1" />
                </div>
            </div>
            <div class="row">
                <label for="Address1" class="col-md-1 control-label">From:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="date" class="form-control" id="Address1" />
                </div>

                <label for="Address1" class="col-md-1 control-label">To:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="date" class="form-control" id="Address1" />
                </div>
            </div>

            <input type="button" id="AssignmentOverride" value="Cancel" />
            <input type="button" id="Assignmide" value="OK" />

        </div>
    </div>

    <div id="India" class="tabcontent">
        <script>

            $(document).ready(function () {

                document.getElementById("abc").disabled = true;
                document.getElementById("bbc").disabled = true;
                document.getElementById("bbb").disabled = true;
                document.getElementById("aac").disabled = true;
                document.getElementById("acc").disabled = true;
                document.getElementById("abb").disabled = true;
                document.getElementById("mac").disabled = true;
                document.getElementById("bac").disabled = true;
                document.getElementById("rac").disabled = true;
                document.getElementById("qac").disabled = true;
                document.getElementById("sac").disabled = true;
                document.getElementById("lac").disabled = true;
                document.getElementById("zac").disabled = true;
                document.getElementById("mojo").disabled = true;
                document.getElementById("rojo").disabled = true;
                document.getElementById("joko").disabled = true;
                document.getElementById("kojo").disabled = true;
                document.getElementById("aabc").disabled = true;
                document.getElementById("abbc").disabled = true;
                document.getElementById("aaac").disabled = true;

            });


            function check() {
                if ($('#dropdownid').val('Other')) {
                    document.getElementById("abc").disabled = false;
                    document.getElementById("bbc").disabled = false;
                    document.getElementById("bbb").disabled = false;
                    document.getElementById("aac").disabled = false;
                    document.getElementById("acc").disabled = false;
                    document.getElementById("abb").disabled = false;
                    document.getElementById("mac").disabled = false;
                    document.getElementById("bac").disabled = false;
                    document.getElementById("rac").disabled = false;
                    document.getElementById("qac").disabled = false;
                    document.getElementById("sac").disabled = false;
                    document.getElementById("lac").disabled = false;
                    document.getElementById("zac").disabled = false;
                    document.getElementById("mojo").disabled = false;
                    document.getElementById("rojo").disabled = false;
                    document.getElementById("joko").disabled = false;
                    document.getElementById("kojo").disabled = false;
                    document.getElementById("aabc").disabled = false;
                    document.getElementById("abbc").disabled = false;
                    document.getElementById("aaac").disabled = false;
                }
                else if ($('#dropdownid').val('Self')) {
                    document.getElementById("abc").disabled = true;
                    document.getElementById("bbc").disabled = true;
                    document.getElementById("bbb").disabled = true;
                    document.getElementById("aac").disabled = true;
                    document.getElementById("acc").disabled = true;
                    document.getElementById("abb").disabled = true;
                    document.getElementById("mac").disabled = true;
                    document.getElementById("bac").disabled = true;
                    document.getElementById("rac").disabled = true;
                    document.getElementById("qac").disabled = true;
                    document.getElementById("sac").disabled = true;
                    document.getElementById("lac").disabled = true;
                    document.getElementById("zac").disabled = true;
                    document.getElementById("mojo").disabled = true;
                    document.getElementById("rojo").disabled = true;
                    document.getElementById("joko").disabled = true;
                    document.getElementById("kojo").disabled = true;
                    document.getElementById("aabc").disabled = true;
                    document.getElementById("abbc").disabled = true;
                    document.getElementById("aaac").disabled = true;

                }
            }



        </script>
        <div style="margin:auto;width:100%;border-radius:15px;border:1px solid #808080;padding:50px;">
            <table style="width:100%">
                <tr>
                    <th>Name</th>
                    <th>DOB</th>
                    <th>Account Number</th>
                    <th>Phone Number</th>
                </tr>
                <tr>
                    <td>Manda</td>
                    <td>23/06/1991</td>
                    <td>1212121</td>
                    <td>901-901-2222</td>
                </tr>
            </table>
            <hr />
            <label for="Address1" class="col-md-5 control-label"><h5>Guarantor relation to Patient:</h5></label>
            <select class="form-group col-md-3" align="right" id="raj" style="margin-left:05px" onchange="check()">
                <option value="1">Self</option>
                <option value="2">Others</option>
            </select>
            <br />

            <div class="row">
                <label for="Name" class="col-md-1 control-label">First Name:</label>
                <div class="form-group col-md-2" style="margin-left:35px">
                    <input type="text" class="form-control" id="abc" />
                </div>

                <label for="Address1" class="col-md-1 control-label">Last Name:</label>
                <div class="form-group col-md-2" style="margin-left:35px">
                    <input type="text" class="form-control" id="bbc" />
                </div>

                <label for="Address1" class="col-md-1 control-label">Middle Name:</label>
                <div class="form-group col-md-2" style="margin-left:35px">
                    <input type="text" class="form-control" id="bbb" />
                </div>
            </div>
            <div class="row">
                <label for="Address1" class="col-md-2 control-label">Gender:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="aac" />
                </div>

                <label for="Address1" class="col-md-2 control-label">DOB:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="date" class="form-control" id="acc" />
                </div>
            </div>
            <div class="row">
                <label for="Address1" class="col-md-2 control-label">SSN:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="abb" />
                </div>

                <label for="Address1" class="col-md-2 control-label">Country:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="mac" />
                </div>
            </div>
            <div class="row">
                <label for="Name" class="col-md-2 control-label">Address 1:</label>
                <div class="form-group col-md-8" style="margin-left:05px">
                    <input type="text" class="form-control" id="bac" />
                </div>
            </div>
            <div class="row">
                <label for="Name" class="col-md-2 control-label">Address 2:</label>
                <div class="form-group col-md-8" style="margin-left:05px">
                    <input type="text" class="form-control" id="rac" />
                </div>
            </div>

            <div class="row">
                <label for="Name" class="col-md-2 control-label">City:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="qac" />
                </div>

                <label for="Address1" class="col-md-2 control-label">State:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="sac" />
                </div>
            </div>
            <div class="row">
                <label for="Address1" class="col-md-2 control-label">Country:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="lac" />
                </div>

                <label for="Address1" class="col-md-2 control-label">Zip:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="zac" />
                </div>
            </div>

            <hr />
            <div class="row">
                <label for="Address1" class="col-md-2 control-label">Home Phone:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="mojo" />
                </div>

                <label for="Address1" class="col-md-2 control-label">Work Phone:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="rojo" />
                </div>
            </div>
            <div class="row">
                <label for="Address1" class="col-md-2 control-label">Cell Phone:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="kojo" />
                </div>

                <label for="Address1" class="col-md-2 control-label">Ext:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="joko" />
                </div>
            </div>
            <div class="row">
                <label for="Address1" class="col-md-2 control-label">Email:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="aabc" />
                </div>

                <label for="Address1" class="col-md-2 control-label">Electronic Notification:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="checkbox" name="vehicle1" value="Bike" id="abbc"> Email<br>
                    <input type="checkbox" name="vehicle2" value="Car" id="aaac">Text Messaging<br>
                </div>
            </div>
        </div>
    </div>

    <div id="Paris" class="tabcontent">
        <div style="margin:auto;width:100%;border-radius:15px;border:1px solid #808080;padding:50px;">

            <table style="width:100%">
                <tr>

                    <th>Attorney Name</th>
                    <th>Office</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                    <th>Phone No</th>
                    <th>Fax No</th>
                </tr>

                <tr>
                    <td>raj</td>
                    <td>San francisco</td>
                    <td>4305 Walla</td>
                    <td>Dallas</td>
                    <td>TX</td>
                    <td>54444 6907</td>
                    <td>901-901-9999</td>
                    <td>901-901-9789</td>

                </tr>
            </table>
            <hr />
            <div class="row">
                <label for="Name" class="col-md-2 control-label">First Name:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="Name" />
                </div>


                <label for="Name" class="col-md-2 control-label">Last Name:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="Name" />
                </div>
            </div>

            <div class="row">
                <label for="Name" class="col-md-2 control-label">Office:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="Name" />
                </div>

                <label for="Address1" class="col-md-2 control-label">Address1:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="Address1" />
                </div>
            </div>
            <div class="row">
                <label for="Address1" class="col-md-2 control-label">Address2:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="Address1" />
                </div>

                <label for="Address1" class="col-md-2 control-label">City:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="Address1" />
                </div>
            </div>
            <div class="row">
                <label for="Address1" class="col-md-2 control-label">State:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="Address1" />
                </div>

                <label for="Address1" class="col-md-2 control-label">Zip:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="Address1" />
                </div>
            </div>
            <div class="row">
                <label for="Address1" class="col-md-2 control-label">Tel:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="Address1" />
                </div>

                <label for="Address1" class="col-md-2 control-label">Fax:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="Address1" />
                </div>
            </div>
            <div class="row">
                <label for="Address1" class="col-md-2 control-label">Contact Details:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="Address1" />
                </div>

                <label for="Address1" class="col-md-2 control-label">Notes:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="Address1" />
                </div>
            </div>

            <input type="button" id="AssignmentOverride" value="Cancel" />
            <input type="button" id="Assignmide" value="OK" />

        </div>
    </div>

    <div id="Tokyo" class="tabcontent">
        <div style="margin:auto;width:100%;border-radius:15px;border:1px solid #808080;padding:50px;">

            <table style="width:100%">
                <tr>
                    <th>Employer Name</th>
                    <th>Address </th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                    <th>Telephone</th>
                    <th>Contact Person</th>

                </tr>
                <tr>

                    <td>rajaf</td>
                    <td>4314 wallstreet</td>
                    <td>Dallas</td>
                    <td>TX</td>
                    <td>23132 8888</td>
                    <td>901-901-9999</td>
                    <td>Megha</td>
                </tr>
            </table>
            <hr />

            <div class="row">
                <label for="Name" class="col-md-1 control-label"> Name:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="Name" />
                </div>
                <label for="Name" class="col-md-1 control-label">Telephone:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="Name" />
                </div>
            </div>
            <div class="row">
                <label for="Name" class="col-md-1 control-label">Address1:</label>
                <div class="form-group col-md-8" style="margin-left:35px">
                    <input type="text" class="form-control" id="Name" />
                </div>
            </div>
            <div class="row">
                <label for="Name" class="col-md-1 control-label">Address2:</label>
                <div class="form-group col-md-8" style="margin-left:35px">
                    <input type="text" class="form-control" id="Name" />
                </div>
            </div>

            <div class="row">
                <label for="Address1" class="col-md-1 control-label">City:</label>
                <div class="form-group col-md-2" style="margin-left:35px">
                    <input type="text" class="form-control" id="Address1" />
                </div>
                <label for="Address1" class="col-md-1 control-label">State:</label>
                <div class="form-group col-md-2" style="margin-left:35px">
                    <input type="text" class="form-control" id="Address1" />
                </div>

                <label for="Address1" class="col-md-1 control-label">Zip:</label>
                <div class="form-group col-md-2" style="margin-left:35px">
                    <input type="text" class="form-control" id="Address1" />
                </div>
            </div>
            <div class="row">
                <label for="Address1" class="col-md-1 control-label">Email:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="Address1" />
                </div>

                <label for="Address1" class="col-md-1 control-label">Fax:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="Address1" />
                </div>
            </div>
            <div class="row">
                <label for="Address1" class="col-md-1 control-label">Contact Person:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="Address1" />
                </div>

            </div>



        </div>
    </div>

</div>
<script>
    function openCity(evt, cityName) {

        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
