﻿
@{
    ViewData["Title"] = "Employer_LookUp";
}

<h5>Employer_LookUp</h5>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <div class="container" style="margin:auto;width:100%;border-radius:15px;border:1px solid #808080;padding:50px;">
        <div class="row">
            <div class="col-md-8">
                <label for="Name" class="control-label">Employer :</label>
                <input style="display: inline; width: 65% !important;" type="text" class="form-control" id="Name" />

            </div>

            <div  class="col-md-4">
                <a  style="float: right;" href="~/Home/EmployerNewRegistration">
                <input class ="positiveBtn" type=button align="right" value='NEW'>
                </a>

            </div>
      
        </div>
      
        <hr />

        <table style="width:100%">
            <tr>
                <th>Employer Name</th>
                <th>Address </th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Telephone</th>
                <th>Contact Person</th>

            </tr>
            <tr>
              
                <td>rajaf</td>               
                <td>4314 wallstreet</td>
                <td>Dallas</td>
                <td>TX</td>                
                <td>23132 8888</td>
                <td>901-901-9999</td>
                <td>Megha</td>
            </tr>

            @*
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>raja</td>
            <td></td>
            <td>sjakghahfjhg</td>
            <td>ghsfdjkghjkld</td>
            <td>merlin</td>
            <td>tx</td>
            <td>23132</td>
            <td>901-901-9999</td>
            <td>888-888-8888</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>raja</td>
            <td></td>
            <td>sjakghahfjhg</td>
            <td>ghsfdjkghjkld</td>
            <td>merlin</td>
            <td>tx</td>
            <td>23132</td>
            <td>901-901-9999</td>
            <td>888-888-8888</td>
        </tr>*@


        </table>

        <hr />

        <div style="    text-align: center;">
            <a class ="aButton" href="~/Home/Index"><input class="negativeBtn" type=button value='Cancel'></a>
        </div>
    </div>
</body>
</html>


