﻿
@{
    ViewData["Title"] = "InsBalance";
}

<h2>InsBalance</h2>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .footer {
        background-color: #777;
        padding: 10px;
        text-align: center;
        color: white;
    }
</style>
<div style="margin:auto;width:100%;border-radius:15px;border:1px solid #808080;padding:50px;">
    <div class="row">
        <h5>Patient Name:</h5>
    </div>
    <div class="row">
        <h5>DOB:</h5>
    </div>
    <div class="row">
        <h5>Acc No:</h5>
    </div>

    <input type="button" data-toggle="modal" data-target="#Logs" style="float: right;" value="Logs" />
    <hr />
    <table style="width:100%">
        <tr>
            <th></th>
            <th>A/C Bal</th>
            <th>Pt. Bal</th>
            <th>Unposted Payments</th>
            <th>Pmt Plan Bal.</th>

        </tr>
        <tr>
            <td>Patient</td>
            <td>$0.00</td>
            <td>$0.00</td>
            <td>$0.00</td>
            <td>$0.00</td>
        </tr>
        <tr>
            <td>Guarantor</td>
            <td>$0.00</td>
            <td>$0.00</td>
            <td>$0.00</td>
            <td>$0.00</td>
        </tr>
    </table>
    <hr />

    <h4>Insurance Age Balance</h4>
    <table style="width:100%">
        <tr>
            <th>0-30</th>
            <th>31-60</th>
            <th>61-90</th>
            <th>>90</th>
            <th>Total</th>

        </tr>
        <tr>
            <td>0.00</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>0.00</td>
        </tr>
    </table>

    <hr />

    <h4>Patient Age Balance</h4>
    <table style="width:100%">
        <tr>
            <th>0-30</th>
            <th>31-60</th>
            <th>61-90</th>
            <th>>90</th>
            <th>Total</th>

        </tr>
        <tr>
            <td>0.00</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>0.00</td>
        </tr>
    </table>


    <!-- Modal start-->
    <div class="modal fade" id="Logs" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Patient LookUp</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-5" style="margin-left:05px">
                            <input type="text" class="form-control" id="LookUp Facility" placeholder="Search"/>
                        </div>
                        <select class="form-group col-md-3" align="right" id="myList" style="margin-left:05px">
                            <option value="1">Name</option>
                            <option value="2">SSN</option>
                            <option value="3">DOB</option>
                            <option value="4">Account No</option>
                            <option value="5">Phone No</option>
                        </select>

                    </div>
                    <div class="modal-footer">
                        <div class="row">
                           

                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
