﻿
@{
    ViewData["Title"] = "InsurCaseDetails";
}

<h5>Case Details</h5>

<style>
    .myBtn {
        margin: 25px;
    }

    input[type="radio"] {
        margin: 0 10px 0 10px;
    }

    input[type="checkbox"] {
        margin: 0 10px 0 10px;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .footer {
        background-color: #777;
        padding: 10px;
        text-align: center;
        color: white;
    }

    body {
        font-family: Arial;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>
<div style="margin:auto;width:100%;border-radius:15px;border:1px solid #808080;padding:50px;">
    <div class="row ">
        <h6>Status</h6>
        <input type="radio" name="gender" value="male"> Open <br>
        <input type="radio" name="gender" value="female"> Closed <br>
    </div>
    <hr />
    <div class="row ">
        <h7><b>Case Information</b></h7>

        <a><input type=button style="margin:5px" value='Info' /></a><br />
        <a><input type=button style="margin:5px" value='Hub' /></a><br />
    </div>
    <hr />
    <div class="row">
        <label for="Name" class="col-md-1 control-label"> Patient:</label>
        <div class="form-group col-md-3" style="margin-left:35px">
            <input type="text" class="form-control" id="Name" />
        </div>
        <label for="Name" class="col-md-1 control-label">Case Provider:</label>
        <div class="form-group col-md-3" style="margin-left:35px">
            <input type="text" class="form-control" id="Name" />
        </div>
    </div>
    <div class="row">
        <label for="Name" class="col-md-1 control-label"> Case Type:</label>
        <div class="form-group col-md-3" style="margin-left:35px">
            <input type="text" class="form-control" id="Name" />
        </div>
        <label for="Name" class="col-md-1 control-label">Case Lable:</label>
        <div class="form-group col-md-3" style="margin-left:35px">
            <input type="text" class="form-control" id="Name" />
        </div>
    </div>
    <div class="row">
        <label for="Name" class="col-md-1 control-label"> Attorney:</label>
        <div class="form-group col-md-3" style="margin-left:35px">
            <input type="text" class="form-control" id="Name" />
        </div>
        <label for="Name" class="col-md-1 control-label">Guarantor:</label>
        <div class="form-group col-md-2" style="margin-left:35px">
            <input type="text" class="form-control" id="Name" />
        </div>
        <select class="form-group col-md-2" align="right" id="myList" style="margin-left:05px">
            <option value="1">Name</option>
            <option value="2">SSN</option>
            <option value="3">DOB</option>
            <option value="4">Account No</option>
        </select>
    </div>
    <hr />
    <div class="row"><h7><b>ICD Codes from Associated Progress</b></h7></div>
    <div class="row"> <h7><b>Notes</b></h7></div>

    <table style="width:100%">
        <tr>
            <th>Codes</th>
            <th>Names</th>
        </tr>
    </table>
    <hr />

    <div class="row">
        <h7><b>Insurance Information</b></h7>
        <div class="form-group col-md-7" style="margin-left:05px">
        </div>
        Bill to <input type="checkbox" name="gender" value="female"> Patient <br>
       
        <input type="button" data-toggle="modal" data-target="#add" style="float: right;" value="Add Ins" />
    </div>

    <!-- Modal start-->
    <div class="modal fade" id="add" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Insurances</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <table style="width:100%">
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Name</th>
                                <th>Subscriber No</th>                              
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>




    <hr />
    <div class="row">
        <label for="Name" class="col-md-2 control-label"> Case Manager:</label>
        <div class="form-group col-md-3" style="margin-left:35px">
            <input type="text" class="form-control" id="Name" />
        </div>

        <div class="form-group col-md-5" style="margin-left:35px">
            <table style="width:100%">
                <tr>
                    <th>Name</th>
                    <th>Subscriber No</th>
                </tr>
            </table>
        </div>
        <a><input type=button class="arrow up" style="margin:5px" value='^' /></a><br />

    </div>
    <div class="row">
        <label for="Name" class="col-md-2 control-label"> Phone No:</label>
        <div class="form-group col-md-3" style="margin-left:35px">
            <input type="text" class="form-control" id="Name" />
        </div>
    </div>
    <div class="row">
        <label for="Name" class="col-md-2 control-label"> Fax No:</label>
        <div class="form-group col-md-3" style="margin-left:35px">
            <input type="text" class="form-control" id="Name" />
        </div>
    </div>
    <div class="row">
        <label for="Name" class="col-md-2 control-label"> Pre Auth No:</label>
        <div class="form-group col-md-3" style="margin-left:35px">
            <input type="text" class="form-control" id="Name" />
        </div>
    </div>
    <hr />

    <h7> <b>Claim Data Information</b></h7>
    <hr />

    <div class="row">
        <label for="Name" class="col-md-1 control-label"> Injury Date:</label>
        <div class="form-group col-md-3" style="margin-left:35px">
            <input type="date" class="form-control" id="Name" />
        </div>

        <label for="Name" class="col-md-2 control-label">Employment Related:</label>

        <input type="checkbox" name="vehicle" value="Bike"><h6> YES</h6><br />
        <input type="checkbox" name="vehicle" value="Car"><h6> NO </h6><br />
    </div>
    <div class="row">
        <label for="Name" class="col-md-1 control-label">Referal:</label>
        <div class="form-group col-md-3" style="margin-left:35px">
            <input type="text" class="form-control" id="Name" />
        </div>

        <label for="Name" class="col-md-2 control-label">Accident:</label>

        <input type="checkbox" name="vehicle" value="Bike"><h6> Auto</h6><br />
        <input type="checkbox" name="vehicle" value="Bike"><h6> Non Auto</h6><br />
        <input type="checkbox" name="vehicle" value="Car"><h6> NO </h6><br />
    </div>
    <div class="row">
        <label for="Name" class="col-md-1 control-label">Acc.Cause:</label>
        <div class="form-group col-md-3" style="margin-left:35px">
            <input type="text" class="form-control" id="Name" />
        </div>

        <label for="Name" class="col-md-1 control-label"> Accident State:</label>
        <div class="form-group col-md-1" style="margin-left:35px">
            <input type="text" class="form-control" id="Name" />
        </div>
        <label for="Name" class="col-md-1 control-label"> Time (HR):</label>
        <div class="form-group col-md-1" style="margin-left:35px">
            <input type="text" class="form-control" id="Name" />
        </div>
    </div>

    <hr />
    <h7><b>Court Information</b></h7>
    <hr />
    <div class="row">
        <label for="Name" class="col-md-2 control-label">Court Name:</label>
        <div class="form-group col-md-3" style="margin-left:35px">
            <input type="text" class="form-control" id="Name" />
        </div>

        <label for="Name" class="col-md-2 control-label"> Court Location:</label>
        <div class="form-group col-md-3" style="margin-left:35px">
            <input type="text" class="form-control" id="Name" />
        </div>

    </div>
    <div class="row">
        <label for="Name" class="col-md-2 control-label">Court Case No:</label>
        <div class="form-group col-md-3" style="margin-left:35px">
            <input type="text" class="form-control" id="Name" />
        </div>

        <label for="Name" class="col-md-2 control-label"> Court Date:</label>
        <div class="form-group col-md-3" style="margin-left:35px">
            <input type="date" class="form-control" id="Name" />
        </div>
    </div>

    <hr />
    <h7><b>Dates Patient Unable to work in current occupation</b></h7>
    <hr />
    <div class="row">
        <label for="Name" class="col-md-3 control-label">HCFA Form Box 16:</label>
        <div class="form-group col-md-" style="margin-left:05px">
            <input type="date" class="form-control" id="Name" />
        </div>

        <label for="Name" class="col-md-1 control-label">to</label>
        <div class="form-group col-md-3" style="margin-left:35px">
            <input type="date" class="form-control" id="Name" />
        </div>
    </div>

    <hr />
    <h7><b>Hospitalization Dates Related to current services</b></h7>
    <hr />
    <div class="row">
        <label for="Name" class="col-md-3 control-label">HCFA Form Box 18:</label>
        <div class="form-group col-md-" style="margin-left:05px">
            <input type="date" class="form-control" id="Name" />
        </div>

        <label for="Name" class="col-md-1 control-label">to</label>
        <div class="form-group col-md-3" style="margin-left:35px">
            <input type="date" class="form-control" id="Name" />
        </div>
    </div>

    <div class="modal-footer">
        <input type="button" id="AssignmentOverride" value="Ok" />
        <input type="button" id="AssignmentOverride" value="Cancel" />
    </div>
</div>

