﻿
@{
    ViewData["Title"] = "Insur";
}

<h2>Insurance</h2>
<style>
    .myBtn {
        margin: 25px;
    }

    input[type="radio"] {
        margin: 0 10px 0 10px;
    }

    input[type="checkbox"] {
        margin: 0 10px 0 10px;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .footer {
        background-color: #777;
        padding: 10px;
        text-align: center;
        color: white;
    }

    body {
        font-family: Arial;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>
<div style="margin:auto;width:100%;border-radius:15px;border:1px solid #808080;padding:50px;">
    <div class="row ">
        <input type="checkbox" name="vehicle1" value="Bike"> Self Pay <br />
        <a href="~/Home/Insur"><input type=button style="margin:5px" value='IE' /></a> <br />
        <a href="~/Home/InsurCaseDetails"><input type=button style="margin:5px" value='New Case' /></a> <br />
        <select class="form-group col-md-3" align="right" id="myList" style="margin-left:05px">
            <option value="1">2017 Practice Fees</option>
            <option value="2">Master Fee Schedule</option>
        </select> <br />
        <a href="~/Home/PatientInsuranceDet"><input type=button style="margin:5px" value='Add' /></a><br />
        <a href="~/Home/Insur"><input type=button style="margin:5px" value='Update' /></a>
    </div>
    <hr />
   
    <table style="width:100%">
        <tr>
            <th></th>
            <th></th>
            <th>Name</th>
            <th>State</th>
            <th>Subscriber No</th>
            <th>Rel</th>
            <th>Insured</th>
            <th>Co-Pay</th>
            <th>Group No</th>
            <th></th>
        </tr>

    </table>
</div>