﻿
@{
    ViewData["Title"] = "InsuranceLookUp";
}

<h5>InsuranceLookUp</h5>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .footer {
            background-color: #777;
            padding: 10px;
            text-align: center;
            color: white;
        }
    </style>
</head>
<body>
    <div style="margin:auto;width:100%;border-radius:15px;border:1px solid #808080;padding:50px;">
        <div class="row">
            <div> <label for="Name" class="col-md-2 control-label">Insurance </label></div>
            <div class="form-group col-md-2" style="margin-left:05px">
                <input type="text" class="form-control" id="Name" placeholder="Search by Name" />
            </div>
            @*<div> <label for="Name" class="col-md-2 control-label">by </label></div>*@

            @*<div class="form-group col-md-2" style="margin-left:05px">
            <input type="text" class="form-control" id="Name" placeholder="Name" />
        </div>*@

            <select class="form-group col-md-2" id="myList">
                <option value="1">Name</option>
                <option value="2">Address</option>
                <option value="3">Zip</option>
                <option value="4">InsuranceID</option>
                <option value="5">Phone No</option>
                <option value="6">PayerID</option>
                <option value="7">Eligibility PayerID</option>
                <option value="8">ERA PayerID</option>
            </select>


            <div> <label for="Name" class="col-md-2 control-label">InsuranceGroup </label></div>
            <div class="form-group col-md-2" style="margin-left:05px">
                <input type="text" class="form-control" id="Name" placeholder="Search by GroupName" />
            </div>
            <select class="form-group col-md-2" align="right" id="myList" style="margin-left:05px">
                <option value="1">All</option>
                <option value="2">Active</option>
                <option value="3">Inactive</option>
              
            </select>





        </div>




        @*<div class="form-group">
            @html.label("batch name", new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                <input type="text" id="batchname" name="batchname" class="form-control" />
            </div>
        </div>*@


        @*<input type="button" href="~/Home/AttorneyPartial" id="attr1" style="margin-left:0px;margin-top:5px" value="NEW" />*@
        @*<a><input type=button id="newgaurantor" value='NEW'></a>*@
        @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modalpopup">NEW</button>*@
        <a href="~/Home/Insurance"><input type=button value='NEW' /></a>
        <hr />

        <table style="width:100%">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>AddressLine</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Telephone</th>
                <th>PayerID</th>
            </tr>
            <tr>
                <td>1234</td>
                <td>Megha</td>
                <td>4305 Walla</td>
                <td>Dallas</td>
                <td>TX</td>
                <td>54444 6907</td>
                <td>901-901-9999</td>
                <td>65775865</td>

            </tr>
        </table>

        <br />

        <div class="modal-footer">
            @*<button type="button" data-toggle="modal" data-target="#myModal">View GR Account</button>*@
            @*<input type=button value='View GR Account' "*@
            <a href="~/Home/Index"><input type=button value='Cancel'</a>
        </div>

        <!-- Modal start-->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    @*<div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>*@
                    <div class="modal-body">
                        <p>Please select a guarantor and try again !</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="Modalpopup">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Modal Heading</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="container">
                            <section style="background-color:whitesmoke">
                                <div class="container">
                                    <div class="col-md-3">
                                        <div class="list-group">
                                            <a href="#gua-tab1" class="list-group-item" style="width: 180px">General</a>
                                            <a href="#gua-tab2" class="list-group-item" style="width: 180px">Address</a>
                                            <a href="#gua-tab3" class="list-group-item" style="width: 180px">Employment</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="Display_01 col-md-4" id="gua-tab1" style="display:none;">
                                    <div class="row">

                                        <label for="Name" class="col-md-2 control-label">Type:</label>
                                        <div class="form-group col-md-3" style="margin-left:35px">
                                            <input type="text" class="form-control" id="Name" />
                                        </div>

                                        <label for="Name" class="col-md-2 control-label">Name:</label>
                                        <div class="form-group col-md-3" style="margin-left:35px">
                                            <input type="text" class="form-control" id="Name" />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <label for="Name" class="col-md-2 control-label">First Name:</label>
                                        <div class="form-group col-md-3" style="margin-left:35px">
                                            <input type="text" class="form-control" id="Name" />
                                        </div>

                                        <label for="Address1" class="col-md-2 control-label">MI:</label>
                                        <div class="form-group col-md-3" style="margin-left:35px">
                                            <input type="text" class="form-control" id="Address1" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="Address1" class="col-md-2 control-label">Guarantor Account No:</label>
                                        <div class="form-group col-md-3" style="margin-left:35px">
                                            <input type="text" class="form-control" id="Address1" />
                                        </div>

                                        <label for="Address1" class="col-md-2 control-label">DOB:</label>
                                        <div class="form-group col-md-3" style="margin-left:35px">
                                            <input type="text" class="form-control" id="Address1" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="Address1" class="col-md-2 control-label">SSN:</label>
                                        <div class="form-group col-md-3" style="margin-left:35px">
                                            <input type="text" class="form-control" id="Address1" />
                                        </div>

                                        <label for="Address1" class="col-md-2 control-label">Telephone No:</label>
                                        <div class="form-group col-md-3" style="margin-left:35px">
                                            <input type="text" class="form-control" id="Address1" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="Address1" class="col-md-2 control-label">Email:</label>
                                        <div class="form-group col-md-3" style="margin-left:35px">
                                            <input type="text" class="form-control" id="Address1" />
                                        </div>

                                        <label for="Address1" class="col-md-2 control-label">Gender:</label>
                                        <div class="form-group col-md-3" style="margin-left:35px">
                                            <input type="text" class="form-control" id="Address1" />
                                        </div>
                                    </div>
                                </div>

                                <div class="Display_01 col-md-4" id="gua-tab2" style="display:none;">
                                    <div class="row">

                                        <label for="Name" class="col-md-2 control-label">Type:</label>
                                        <div class="form-group col-md-3" style="margin-left:35px">
                                            <input type="text" class="form-control" id="Name" />
                                        </div>

                                        <label for="Name" class="col-md-2 control-label">Name:</label>
                                        <div class="form-group col-md-3" style="margin-left:35px">
                                            <input type="text" class="form-control" id="Name" />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <label for="Name" class="col-md-2 control-label">First Name:</label>
                                        <div class="form-group col-md-3" style="margin-left:35px">
                                            <input type="text" class="form-control" id="Name" />
                                        </div>

                                        <label for="Address1" class="col-md-2 control-label">MI:</label>
                                        <div class="form-group col-md-3" style="margin-left:35px">
                                            <input type="text" class="form-control" id="Address1" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="Address1" class="col-md-2 control-label">Guarantor Account No:</label>
                                        <div class="form-group col-md-3" style="margin-left:35px">
                                            <input type="text" class="form-control" id="Address1" />
                                        </div>

                                        <label for="Address1" class="col-md-2 control-label">DOB:</label>
                                        <div class="form-group col-md-3" style="margin-left:35px">
                                            <input type="text" class="form-control" id="Address1" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="Address1" class="col-md-2 control-label">SSN:</label>
                                        <div class="form-group col-md-3" style="margin-left:35px">
                                            <input type="text" class="form-control" id="Address1" />
                                        </div>

                                        <label for="Address1" class="col-md-2 control-label">Telephone No:</label>
                                        <div class="form-group col-md-3" style="margin-left:35px">
                                            <input type="text" class="form-control" id="Address1" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="Address1" class="col-md-2 control-label">Email:</label>
                                        <div class="form-group col-md-3" style="margin-left:35px">
                                            <input type="text" class="form-control" id="Address1" />
                                        </div>

                                        <label for="Address1" class="col-md-2 control-label">Gender:</label>
                                        <div class="form-group col-md-3" style="margin-left:35px">
                                            <input type="text" class="form-control" id="Address1" />
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>


                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>


</body>
</html>


