﻿@{
    ViewData["Title"] = "NewFacilityRegistration";
}

<h5>New Facility Registration</h5>
<style>
    body {
        font-family: Arial;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>

@*<div style="margin:auto;width:100%;border-radius:15px;border:1px solid #808080;padding:70px;">
    @*<div>
        <div class="row">

            <label for="Name" class="col-md-1 control-label">Name:</label>
            <div class="form-group col-md-2" style="margin-left:05px">
                <input type="text" class="form-control" id="Name" />
            </div>

            <label for="Name" class="col-md-1 control-label">Type:</label>
            <div class="form-group col-md-2" style="margin-left:05px">
                <input type="text" class="form-control" id="Name" />
            </div>






            <label for="Name" class="col-md-1 control-label">Code:</label>
            <div class="form-group col-md-2" style="margin-left:05px">
                <input type="text" class="form-control" id="Name" />
            </div>
        </div>

        <div class="row">
            <label for="Name" class="col-md-1 control-label">Start Date:</label>
            <div class="form-group col-md-2" style="margin-left:05px">
                <input type="date" class="form-control" id="Name" />
            </div>
            <div class="form-group col-md-3" style="margin-left:35px">
                <input type="checkbox" name="vehicle1" value="Bike">  Active<br>
            </div>
        </div>
    </div>*@

<div style="margin:auto;width:100%;border-radius:15px;border:1px solid #808080;padding:70px;">

    <div class="row">
        <label for="Name" class="col-md-1 control-label">Code:</label>
        <div class="form-group col-md-2" style="margin-left:05px">
            <input type="text" class="form-control" id="Name" />
        </div>

        <div class="form-group col-md-2" style="margin-left:05px">
            <input type="checkbox" name="vehicle1" value="Bike">  Active<br>
        </div>

        <label for="Name" class="col-md-1 control-label">Start Date:</label>
        <div class="form-group col-md-3" style="margin-left:0px">
            <input type="date" class="form-control" id="Name" />
        </div>


    </div>
    <div class="row">
        <label for="Name" class="col-md-1 control-label">Name:</label>
        <div class="form-group col-md-5" style="margin-left:05px">
            <input type="text" class="form-control" id="Name" />
        </div>

        <div class="form-group col-md-2" style="margin-left:05px">
            <input type="checkbox" name="vehicle1" value="Bike"> Primary Practice<br>
        </div>
    </div>
    <div class="row">
        <label for="Name" class="col-md-1 control-label">Type:</label>
        <select class="form-group col-md-2" align="right" id="myList" style="margin-left:05px">

            <option value="1">Practicing Facility </option>
            <option value="2">Consulting Facility</option>
            <option value="3">Hospital</option>
        </select>

        @*<label for="Name" class="col-md-2 control-label">Facility Type:</label>
            <div class="form-group col-md-3" style="margin-left:05px">
                <input type="text" class="form-control" id="Name" />
            </div>*@
    </div>
    <!-- START ---------------------------------------------------------------- -->
    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'London')">Facility Address</button>
        <button class="tablinks" onclick="openCity(event, 'Paris')">Facility ID's</button>
    </div>
    <div id="London" class="tabcontent">
        <div class="Display_01 col-md-9" id="gua-tab1">
            <h4><u>Facility Address</u></h4>
            <div class="row">
                <label for="Name" class="col-md-2 control-label">Address 1:</label>
                <div class="form-group col-md-9" style="margin-left:35px">
                    <input type="text" class="form-control" id="Name" />
                </div>
            </div>
            <div class="row">
                <label for="Name" class="col-md-2 control-label">Address 2:</label>
                <div class="form-group col-md-9" style="margin-left:35px">
                    <input type="text" class="form-control" id="Name" />
                </div>
            </div>
            <div class="row">
                <label for="Name" class="col-md-2 control-label">City:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="Name" />
                </div>

                <label for="Address1" class="col-md-2 control-label">State:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="Address1" />
                </div>
            </div>
            <div class="row">
                <label for="Address1" class="col-md-2 control-label">Zip:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="Address1" />
                </div>

                <label for="Name" class="col-md-2 control-label">Country:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="Name" />
                </div>

                <div class="form-group col-md-1" style="margin-left:35px">
                    <input type="button" id="Assignmide" value="Validate" />
                </div>
            </div>

            <h4><u>Pay to Address(if different then Facility Address)</u></h4>
            <div class="row">
                <label for="Name" class="col-md-2 control-label">Address 1:</label>
                <div class="form-group col-md-9" style="margin-left:35px">
                    <input type="text" class="form-control" id="Name" />
                </div>
            </div>
            <div class="row">
                <label for="Name" class="col-md-2 control-label">Address 2:</label>
                <div class="form-group col-md-9" style="margin-left:35px">
                    <input type="text" class="form-control" id="Name" />
                </div>
            </div>

            <div class="row">
                <label for="Name" class="col-md-2 control-label">City:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="Name" />
                </div>

                <label for="Address1" class="col-md-2 control-label">State:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="Address1" />
                </div>
            </div>
            <div class="row">
                <label for="Address1" class="col-md-2 control-label">Zip:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="Address1" />
                </div>


                <label for="Name" class="col-md-2 control-label">Country:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="Name" />
                </div>
                <div class="form-group col-md-1" style="margin-left:35px">
                    <input type="button" id="Assignmide" value="Validate" />
                </div>
            </div>
            <hr />
            <div class="row">
                <label for="Address1" class="col-md-2 control-label">Federal TaxID:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="Address1" />
                </div>

                <label for="Address1" class="col-md-2 control-label">Check Payableto:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="Address1" />
                </div>
            </div>
            <div class="row">
                <label for="Address1" class="col-md-2 control-label">Fee Schedule:</label>
                <select class="form-group col-md-0" align="right" id="myList" style="margin-left:05px">
                    <option value="1"> Practice Fees</option>
                    <option value="2">Master Fee Schedule</option>
                   
                </select>
              

                <label for="Address1" class="col-md-3control-label">Practice Type:</label>
             
                <select class="form-group col-md-0" align="right" id="myList" style="margin-left:05px">
                    <option value="1">Solo Practice</option>
                    <option value="2">Professional Association</option>
                    <option value="3">Clinic</option>
                    <option value="4">Individual</option>
                </select>


            </div>
            <div class="row">
                <label for="Name" class="col-md-2 control-label">Place of Service(POS):</label>
                <select class="form-group col-md-0" align="right" id="myList" style="margin-left:05px">
                    <option value="1">11 - Office</option>
                    <option value="2">21 - In Patient Hospital</option>
                    <option value="3">22 - Out Patient Hospital</option>
                </select>

            </div>
            <div class="row">
                <label for="Name" class="col-md-2 control-label">Insurance PlanTypes:</label>
                <div class="form-group col-md-9" style="margin-left:35px">
                    <input type="text" class="form-control" id="Name" />
                </div>
            </div>
            <hr />
            <div class="modal-footer">
                <input type="button" id="Assignmide" value="OK" />
                <input type="button" id="AssignmentOverride" value="Cancel" />

            </div>
        </div>
    </div>

    <div id="Paris" class="tabcontent">
        <div class="Display_01 col-md-9" id="gua-tab2">
            <h4><u>Facility ID's</u></h4>
            <div class="row">

                <label for="Name" class="col-md-2 control-label">CLIA ID Number:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="Name" />
                </div>

                <label for="Name" class="col-md-2 control-label">Revenue Code:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="Name" />
                </div>
            </div>

            <div class="row">
                <label for="Name" class="col-md-2 control-label">Taxanomy Code:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="Name" />
                </div>

                <label for="Name" class="col-md-2 control-label">Speciality:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="Name" />
                </div>
            </div>
            <div class="row">
                <label for="Address1" class="col-md-2 control-label">NPI:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="Address1" />
                </div>

                <label for="Address1" class="col-md-2 control-label">Mammography Cert No:</label>
                <div class="form-group col-md-3" style="margin-left:35px">
                    <input type="text" class="form-control" id="Address1" />
                </div>
            </div>

            <div class="row">
                <label for="Address1" class="col-md-3 control-label">Facility Type:</label>
                <select class="form-group col-md-3" align="right" id="myList" style="margin-left:05px">
                    <option value="1">77 - Service Location,Use when other quotes in this element don't apply</option>
                    <option value="2">FA - Facility</option>
                    <option value="3">LI - Independent Lab</option>
                    <option value="4">TL - Testing Lab</option>               
                </select>
            </div>
            <hr />
            <h6>Facility ID Numbers(Payer Specific)</h6>
            <hr />
            <table style="width:100%">
                <tr>
                    <th>Payer ID</th>
                    <th>Payer Name</th>
                    <th>Facility ID</th>
                    <th>ID Type</th>

                </tr>
            </table>
            <div class="modal-footer">
                <input type="button" id="Assignmide" value="OK" />
                <input type="button" id="AssignmentOverride" value="Cancel" />

            </div>
        </div>
    </div>

    <script>
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
    <!-- END ---------------------------------------------------------------- -->
</div>


<script>
    $(document).ready(function () {


        function hideTabs() {
            $("#gua-tab1").hide();
            $("#gua-tab2").hide();
            $("#gua-tab3").hide();

        }

        $(".nav nav-tabs ").click(function () {
            alert('hello');
            if ($(this).text() == "Facility Address") {
                hideTabs();
                $("#gua-tab1").show();
            }
            if ($(this).text() == "Facility ID's") {
                hideTabs();
                $("#gua-tab2").show();
            }
            if ($(this).text() == "Employment") {
                hideTabs();
                $("#gua-tab3").show();
            }

        });
    })
</script>
