﻿@{
    ViewData["Title"] = "NewPatientRegistration";
}

<h5><u>NewPatientRegistration</u></h5>

<div style="margin:auto;width:100%;border-radius:15px;border:1px solid #808080;padding:50px;">


    <a  href="~/Home/Insur"><input type=button value='Insurance' /></a>
    <a href="~/Home/EMGContact"><input type=button value='Contacts' /></a>
    <a><input type=button value='Consent' /></a>
    <a><input type=button value='Statement' /></a>
    <a><input type=button value='Messages' /></a>
    <hr />

    <div class="row">
        <label for="Address1" class="col-md-2 control-label"><h5>Account No :</h5></label>
        <div class="form-group col-md-4" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>
    </div>
    <div class="row">
        <label for="Name" class="col-md-1 control-label">Last Name:</label>
        <div class="form-group col-md-2" style="margin-left:05px">
            <input type="text" class="form-control" id="Name" />
        </div>
        <label for="Address1" class="col-md-1 control-label">First Name:</label>
        <div class="form-group col-md-2" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>


        <label for="Address1" class="col-md-1 control-label">Middle Name:</label>
        <div class="form-group col-md-2" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>

        <div class="row">

            <label for="Address1" class="col-md-1 control-label">Prefix:</label>
            <div class="form-group col-md-2" style="margin-left:05px">
                <input type="text" class="form-control" id="Address1" />
            </div>

            <label for="Address1" class="col-md-1 control-label">Suffix:</label>
            <div class="form-group col-md-2" style="margin-left:05px">
                <input type="text" class="form-control" id="Address1" />
            </div>
            <label for="Address1" class="col-md-2 control-label">Marital Status:</label>
            <div class="form-group col-md-3" style="margin-left:05px">
                <input type="text" class="form-control" id="Address1" />
            </div>
        </div>

    </div>

    <div class="row">
        <label for="Name" class="col-md-2 control-label">Previous Name:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Name" />
        </div>

        <label for="Address1" class="col-md-2 control-label">SSN:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>
    </div>
    <div class="row">
        <div class="row">
            <label for="Address1" class="col-md-2 control-label">Resp Party:</label>
            <textarea rows="3" cols="50" name="comment" form="usrform">
                Enter text here...</textarea>
        </div>

        <label for="Address1" class="col-md-2 control-label">Sex:</label>
        <div class="form-group col-md-2" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>

        @*<div class="col-md-2 text-left">
                <input type="button" value="S.O./G.I" class="btn btn-grey" />
            </div>*@

        <a href="~/Home/SOGI"><input type=button value='S.O./G.I' class="btn btn-grey" /></a><br />
        <br />


    </div>
    <br />
    @*<div class="row">

            <button type="button" align="right" data-toggle="modal" data-target="#myModal">Parent Info</button>
            <a><input type=button value='Select' /></a>
            <button type="button" align="left" data-toggle="modal" data-target="#myModal">Set Emergency Contact</button>


        </div>*@
    @*<div class="col-md-12">
            <div class="row form-group">
                <div class="col-md-2 text-left">
                    <input type="button" value="Parent Info" class="btn btn-grey" />
                </div>
                <div class="col-md-1 text-left">
                    <input type="button" value="Select" class="btn btn-grey" />
                </div>
                <div class="col-md-1 text-left">
                    <input type="button" value="Set Emergency Contact" class="btn btn-grey" />
                </div>
            </div>
        </div>*@

    <div class="row">
        <label for="Name" class="col-md-2 control-label">Address 1:</label>
        <div class="form-group col-md-8" style="margin-left:05px">
            <input type="text" class="form-control" id="Name" />
        </div>
    </div>
    <div class="row">
        <label for="Name" class="col-md-2 control-label">Address 2:</label>
        <div class="form-group col-md-8" style="margin-left:05px">
            <input type="text" class="form-control" id="Name" />
        </div>
    </div>
    <div class="row">
        <label for="Address1" class="col-md-2 control-label">City:</label>
        <div class="form-group col-md-2" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>
        <div class="col-md-2 text-left">
            <input type="button" value="Validate" class="btn btn-grey" />
        </div>

        <label for="Address1" class="col-md-1 control-label">State:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>

        <label for="Address1" class="col-md-2 control-label">Zip:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>

        <label for="Address1" class="col-md-2 control-label">Country:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>

        <label for="Address1" class="col-md-2 control-label">Home Phone:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>

        <label for="Address1" class="col-md-2 control-label">Cell Phone:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>

        <label for="Address1" class="col-md-2 control-label">Work Phone:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>


        <label for="Address1" class="col-md-2 control-label">Ext:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>

        <label for="Address1" class="col-md-2 control-label">Email:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>

        <label for="Address1" class="col-md-2 control-label">EmergencyContact:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>
    </div>
    <div class="row">
        <label for="Address1" class="col-md-2 control-label">Account Balance:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>
        <div class="col-md-1 text-left">
            <input type="button" value="Details" class="btn btn-grey" />
        </div>
        <div class="col-md-1 text-left">
            <input type="button" value="Gr.Bal" class="btn btn-grey" />
        </div>
    </div>
    <div class="row">
        <label for="Address1" class="col-md-2 control-label">PT Balance:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>
        <div class="col-md-1 text-left">
            @*<input type="button" value="Acc.Inquiry" class="btn btn-grey" />*@
            <a href="~/Home/AccInquiry"><input type=button value='Acc.Inquiry' class="btn btn-grey" /></a><br />
        </div>
    </div>

    <div class="row">
        <label for="Address1" class="col-md-2 control-label">Next appt:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="date" class="form-control" id="Address1" />
        </div>
        <label for="Address1" class="col-md-2 control-label">Last appt:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="date" class="form-control" id="Address1" />
        </div>
    </div>
    <hr />

    <div class="row">
        <label for="Address1" class="col-md-1 control-label">PCP:</label>
        <div class="form-group col-md-2" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>

        <label for="Address1" class="col-md-1 control-label">Referring:</label>
        <div class="form-group col-md-2" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>

        <label for="Address1" class="col-md-1 control-label">Rendering:</label>
        <div class="form-group col-md-2" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>
    </div>
    <hr />
    <div class="row">
        <label for="Address1" class="col-md-2 control-label">Language:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>

        <label for="Address1" class="col-md-2 control-label">Race:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>

        <label for="Address1" class="col-md-2 control-label">Ethnicity:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>


        <label for="Address1" class="col-md-2 control-label">Birth Order:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>

        <label for="Address1" class="col-md-2 control-label">Release of Info:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>

        <label for="Address1" class="col-md-2 control-label">Rx History Consent:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>

        <label for="Address1" class="col-md-2 control-label">Signature Date:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="date" class="form-control" id="Address1" />
        </div>


        <label for="Address1" class="col-md-2 control-label">EMP Status:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>
        <label for="Address1" class="col-md-2 control-label">Student Status:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>
        <label for="Address1" class="col-md-2 control-label">Pregnency:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>
    </div>



    <div class="modal-footer">
        <input type="button" id="Assignmide" value="OK" />
        <input type="button" id="AssignmentOverride" value="Close" />

    </div>
</div>
