﻿
@{
    ViewData["Title"] = "NewPharmacyRegistration";
}

<h5>New Pharmacy Registration</h5>


<div style="margin:auto;width:100%;border-radius:15px;border:1px solid #808080;padding:50px;">


    <div class="row">
        <label for="Name" class="col-md-2 control-label">Display Name:</label>
        <div class="form-group col-md-3" style="margin-left:35px">
            <input type="text" class="form-control" id="Name" />
        </div>


        <label for="Name" class="col-md-2 control-label">Email:</label>
        <div class="form-group col-md-3" style="margin-left:35px">
            <input type="text" class="form-control" id="Name" />
        </div>
    </div>

    <div class="row">
        <label for="Name" class="col-md-2 control-label">Store Name:</label>
        <div class="form-group col-md-3" style="margin-left:35px">
            <input type="text" class="form-control" id="Name" />
        </div>

        <label for="Address1" class="col-md-2 control-label">NCPDP ID:</label>
        <div class="form-group col-md-3" style="margin-left:35px">
            <input type="text" class="form-control" id="Address1" />
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-5" style="margin-left:35px">
            <input type="checkbox" name="vehicle1" value="Bike">  Mail Order Pharmacy<br>
        </div>
        <div class="form-group col-md-5" style="margin-left:35px">
            <input type="checkbox" name="vehicle1" value="Bike"> ePrescibe Enabled<br>
        </div>
    </div>
    <div class="row">
        <label for="Address1" class="col-md-2 control-label">Address1:</label>
        <div class="form-group col-md-8" style="margin-left:35px">
            <input type="text" class="form-control" id="Address1" />
        </div>
    </div>
    <div class="row">
        <label for="Address1" class="col-md-2 control-label">Address2:</label>
        <div class="form-group col-md-8" style="margin-left:35px">
            <input type="text" class="form-control" id="Address1" />
        </div>
    </div>
    <div class="row">
        <label for="Address1" class="col-md-2 control-label">City:</label>
        <div class="form-group col-md-3" style="margin-left:35px">
            <input type="text" class="form-control" id="Address1" />
        </div>

        <label for="Address1" class="col-md-2 control-label">State:</label>
        <div class="form-group col-md-3" style="margin-left:35px">
            <input type="text" class="form-control" id="Address1" />
        </div>
    </div>
    <div class="row">
        <label for="Address1" class="col-md-2 control-label">Zip:</label>
        <div class="form-group col-md-3" style="margin-left:35px">
            <input type="text" class="form-control" id="Address1" />
        </div>

        <label for="Address1" class="col-md-2 control-label">Phone:</label>
        <div class="form-group col-md-3" style="margin-left:35px">
            <input type="text" class="form-control" id="Address1" />
        </div>
    </div>
    <div class="row">
        <label for="Address1" class="col-md-2 control-label">Ext:</label>
        <div class="form-group col-md-3" style="margin-left:35px">
            <input type="text" class="form-control" id="Address1" />
        </div>

        <label for="Address1" class="col-md-2 control-label">Fax:</label>
        <div class="form-group col-md-3" style="margin-left:35px">
            <input type="text" class="form-control" id="Address1" />
        </div>
    </div>

    <div class="modal-footer">
        <input type="button" id="AssignmentOverride" value="Cancel" />
        <input type="button" id="Assignmide" value="OK" />
    </div>


</div>
