﻿
@{
    ViewData["Title"] = "PatDemographicLockedFields";
}

<h5>Patient Demographic Locked Fields</h5>
<style>

    body {
        font-family: Arial;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }

    input[type="radio"] {
        margin: 0 10px 0 10px;
    }

    input[type="checkbox"] {
        margin: 0 10px 0 10px;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .footer {
        background-color: #777;
        padding: 10px;
        text-align: center;
        color: white;
    }
</style>
<div style="margin:auto;width:100%;border-radius:15px;border:1px solid #808080;padding:50px;">

    <!-- START ---------------------------------------------------------------- -->
    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'London')">Demographics</button>
        <button class="tablinks" onclick="openCity(event, 'Paris')">Additional Info</button>
        <button class="tablinks" onclick="openCity(event, 'Tokyo')">All</button>
    </div>
    <div id="London" class="tabcontent">
        <table style="width:100%">
            <tr>
                <th>Field Name</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Account Number</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Account Balance</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Emergency Contact</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Employer Name</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Employer Status</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Fee Schedule</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Marital Status</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>New Case</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Notes</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>PCP</th>
                <th><input type="checkbox" /></th>
            </tr>.
            <tr>
                <th>Patient Address Line 1</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Patient Address Line 2</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Patient Balance</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Patient Balance</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Patient Cell Number</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Patient City</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Patient Country</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Patient DOB</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Patient First Name</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Patient Home Phone</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Patient Last Name</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Patient Middle Initial</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Patient Prefix</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Patient Previous Name</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Patient Sex</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Patient State</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Patient Work Phone</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Patient Zip</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Referring Provider</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Relation</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Release of Information</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Rendering Provider</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Responsible Party</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Sliding Fee Schedule</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>SSN</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Student Status</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Target Team Memebr or Dependent</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Transgender</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Voice Setting</th>
                <th><input type="checkbox" /></th>
            </tr>

        </table>
        <hr />
        <h5><b>* Applies to non-Admin users only</b></h5>

        <div class="modal-footer">
            <input type="button" id="Assignmide" value="Save" />
            <input type="button" id="AssignmentOverride" value="Close" />
        </div>

    </div>

    <div id="Paris" class="tabcontent">

        <table style="width:100%">
            <tr>
                <th>Field Name</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Characteristics </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Deceased </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Employer Address 1 </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Employer Address 2 </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Employer City </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Employer State </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Employer Zip </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Language </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>MRN </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Plan Type </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Race </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Exclude From registry search </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Residency Type </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Secondary Street Address 1 </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Secondary Street Address 2 </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Secondary City </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Secondary State </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Secondary Zip</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Translator </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>VFC Eligibility </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Employer Ok to Leave message </th>
                <th><input type="checkbox" /></th>
            </tr>
        </table>
        <hr />
        <h5><b>* Applies to non-Admin users only</b></h5>

        <div class="modal-footer">
            <input type="button" id="Assignmide" value="Save" />
            <input type="button" id="AssignmentOverride" value="Close" />
        </div>
    </div>

    <div id="Tokyo" class="tabcontent">
        <table style="width:100%">
         
            <tr>
                <th>Field Name</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Account Number</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Account Balance</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Emergency Contact</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Employer Name</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Employer Status</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Fee Schedule</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Marital Status</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>New Case</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Notes</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>PCP</th>
                <th><input type="checkbox" /></th>
            </tr>.
            <tr>
                <th>Patient Address Line 1</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Patient Address Line 2</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Patient Balance</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Patient Balance</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Patient Cell Number</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Patient City</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Patient Country</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Patient DOB</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Patient First Name</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Patient Home Phone</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Patient Last Name</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Patient Middle Initial</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Patient Prefix</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Patient Previous Name</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Patient Sex</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Patient State</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Patient Work Phone</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Patient Zip</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Referring Provider</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Relation</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Release of Information</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Rendering Provider</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Responsible Party</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Sliding Fee Schedule</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>SSN</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Student Status</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Target Team Memebr or Dependent</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Transgender</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Voice Setting</th>
                <th><input type="checkbox" /></th>
            </tr>
            </tr>
            <tr>
                <th>Characteristics </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Deceased </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Employer Address 1 </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Employer Address 2 </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Employer City </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Employer State </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Employer Zip </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Language </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>MRN </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Plan Type </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Race </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Exclude From registry search </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Residency Type </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Secondary Street Address 1 </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Secondary Street Address 2 </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Secondary City </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Secondary State </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Secondary Zip</th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Translator </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>VFC Eligibility </th>
                <th><input type="checkbox" /></th>
            </tr>
            <tr>
                <th>Employer Ok to Leave message </th>
                <th><input type="checkbox" /></th>
            </tr>
        </table>
        <hr />
        <h5><b>* Applies to non-Admin users only</b></h5>

        <div class="modal-footer">
            <input type="button" id="Assignmide" value="Save" />
            <input type="button" id="AssignmentOverride" value="Close" />
        </div>
    </div>

    <script>
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
    <!-- END ---------------------------------------------------------------- -->
</div>