﻿
@{
    ViewData["Title"] = "PatientInsuranceDet";
}

<h5>PatientInsuranceDet</h5>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<style>

    body {
        font-family: Arial;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }

    input[type="radio"] {
        margin: 0 10px 0 10px;
    }

    input[type="checkbox"] {
        margin: 0 10px 0 10px;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .footer {
        background-color: #777;
        padding: 10px;
        text-align: center;
        color: white;
    }
</style>
<div style="margin:auto;width:100%;border-radius:15px;border:1px solid #808080;padding:50px;">
    <h5>Insurance Details</h5>
    <hr />
    <div class="row">
        <label for="Name" class="col-md-1 control-label"> Insurance:</label>
        <div class="form-group col-md-2" style="margin-left:35px">
            <input type="text" class="form-control" id="Name" />
        </div>

        <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-search"></span> Search
        </button>

        <div class="form-group col-md-1" style="margin-left:35px"></div>
        <a><input type=button value='Insurance Billing Info' /></a>

    </div>
    <hr />


    <div class="row">

        <textarea rows="4" cols="50">
                           Enter the Address
              </textarea> <br />

        <div class="form-group col-md-5" style="margin-left:35px">
            <form action="/action_page.php" method="get">

                <div class="row">
                    <input type="checkbox" name="vehicle" value="Bik"><h6> Primary </h6><br />
                </div>

                <div class="row">
                    <input type="checkbox" name="vehicle" value="Car"><h6> Secondary </h6><br />
                </div>

                <div class="row">
                    <input type="checkbox" name="vehicle" value="Car"><h6> Tertiary </h6><br />
                </div>

                <div class="row">
                    <input type="checkbox" name="vehicle" value="Car"><h6> Terminated </h6><br />
                </div>
            </form>
        </div><br />

        <div class="row">
            <label for="Name" class="col-md-2 control-label">Source of Payment:</label>
            <div class="form-group col-md-3" style="margin-left:05px">
                <input type="text" class="form-control" id="Name" />
            </div>

            <label for="Name" class="col-md-2 control-label">Insurance Class for Reports:</label>
            <div class="form-group col-md-3" style="margin-left:35px">
                <input type="text" class="form-control" id="Name" />
            </div>
        </div>

        <label for="Name" class="col-md-1 control-label">Coverage Date:</label>
        <div class="form-group col-md-3" style="margin-left:35px">
            <input type="date" class="form-control" id="Name" />
        </div>
        <label for="Name" class="col-md-1 control-label">to</label>
        <div class="form-group col-md-3" style="margin-left:35px">
            <input type="date" class="form-control" id="Name" />
        </div>

    </div>

    <hr />

    <!-- START ---------------------------------------------------------------- -->
    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'London')">Subscriber</button>
        <button class="tablinks" onclick="openCity(event, 'Paris')">Additional Information</button>
        <button class="tablinks" onclick="openCity(event, 'Tokyo')">Notes</button>
    </div>
    <div id="London" class="tabcontent">
        <div class="row">
            <label for="Name" class="col-md-1 control-label"><b>Sub No:</b></label>
            <div class="form-group col-md-3" style="margin-left:35px">
                <input type="text" class="form-control" id="Name" />
            </div>

            <label for="Name" class="col-md-1 control-label"><b>CoPay:</b></label>
            <div class="form-group col-md-3" style="margin-left:35px">
                <input type="text" class="form-control" id="Name" />
            </div>
        </div>
        <div class="row">
            <label for="Name" class="col-md-1 control-label"><b>Insured Name:</b></label>
            <div class="form-group col-md-3" style="margin-left:35px">
                <input type="text" class="form-control" id="Name" />
            </div>

            <label for="Name" class="col-md-1 control-label"><b>Patient Relationship with injured:</b></label>
            <div class="form-group col-md-3" style="margin-left:35px">
                <input type="text" class="form-control" id="Name" />
            </div>
        </div>
        <div class="row">
            <label for="Name" class="col-md-1 control-label"><b>Group Name:</b></label>
            <div class="form-group col-md-3" style="margin-left:35px">
                <input type="text" class="form-control" id="Name" />
            </div>

            <label for="Name" class="col-md-1 control-label"><b>Group No:</b></label>
            <div class="form-group col-md-3" style="margin-left:35px">
                <input type="text" class="form-control" id="Name" />
            </div>
        </div>
        <div class="row">
            <label for="Name" class="col-md-1 control-label"><b>Medicade ID no:</b></label>
            <div class="form-group col-md-3" style="margin-left:35px">
                <input type="text" class="form-control" id="Name" />
            </div>

            <label for="Name" class="col-md-1 control-label"><b>Supplemental Insurance Indicator:</b></label>
            <div class="form-group col-md-3" style="margin-left:35px">
                <input type="text" class="form-control" id="Name" />
            </div>
        </div>
        <hr />
        <div class="row">

            <div class="form-group col-md-5" style="margin-left:35px">
                <label for="Name" class="col-md-4 control-label"><b><h6>Patient Alternate Name</h6></b></label>
            </div>
            <div class="form-group col-md-5" style="margin-left:35px">
                <label for="Name" class="col-md-4 control-label"><b><h6>Insured Alternate Name</h6></b></label>
            </div>


        </div>
        <div class="row">
            <label for="Name" class="col-md-1 control-label"><b>Last Name:</b></label>
            <div class="form-group col-md-3" style="margin-left:35px">
                <input type="text" class="form-control" id="Name" />
            </div>

            <label for="Name" class="col-md-1 control-label"><b>Last Name:</b></label>
            <div class="form-group col-md-3" style="margin-left:35px">
                <input type="text" class="form-control" id="Name" />
            </div>
        </div>
        <div class="row">
            <label for="Name" class="col-md-1 control-label"><b>First Name:</b></label>
            <div class="form-group col-md-3" style="margin-left:35px">
                <input type="text" class="form-control" id="Name" />
            </div>

            <label for="Name" class="col-md-1 control-label"><b>First Name:</b></label>
            <div class="form-group col-md-3" style="margin-left:35px">
                <input type="text" class="form-control" id="Name" />
            </div>
        </div>
        <div class="row">
            <label for="Name" class="col-md-1 control-label"><b>MI:</b></label>
            <div class="form-group col-md-3" style="margin-left:35px">
                <input type="text" class="form-control" id="Name" />
            </div>

            <label for="Name" class="col-md-1 control-label"><b>MI:</b></label>
            <div class="form-group col-md-3" style="margin-left:35px">
                <input type="text" class="form-control" id="Name" />
            </div>
        </div>


        <div class="modal-footer">
            <input type="button" id="Assignmide" value="OK" />
            <input type="button" id="AssignmentOverride" value="Cancel" />

        </div>

    </div>

    <div id="Paris" class="tabcontent">
        <div class="row">
            <label for="Name" class="col-md-2 control-label"><b>Assignment of Benifits:</b></label>
            <select class="form-group col-md-2" align="right" id="myList" style="margin-left:05px">
                <option value="1">N</option>
                <option value="2">O</option>
                <option value="3">W</option>
                <option value="4">Y</option>
            </select>
        </div>
        <div class="row">
            <label for="Name" class="col-md-2 control-label"><b>Patient Signature Source:</b></label>
            <select class="form-group col-md-2" align="right" id="myList" style="margin-left:05px">
                <option value="1">B</option>
                <option value="2">C</option>
                <option value="3">M</option>
                <option value="4">P</option>
                <option value="5">S</option>
            </select>
        </div>
        <div class="row">
            <label for="Name" class="col-md-2 control-label">PPO Identification:</label>
            <div class="form-group col-md-3" style="margin-left:35px">
                <input type="text" class="form-control" id="Name" />
            </div>
        </div>
        <div class="row">
            <label for="Name" class="col-md-2 control-label">PPO/HMO Indicators:</label>
            <div class="form-group col-md-3" style="margin-left:35px">
                <input type="text" class="form-control" id="Name" />
            </div>
        </div>
        <div class="row">
            <label for="Name" class="col-md-2 control-label">Payer Claim Office No:</label>
            <div class="form-group col-md-3" style="margin-left:35px">
                <input type="text" class="form-control" id="Name" />
            </div>
        </div>
        <div class="row">
            <label for="Name" class="col-md-2 control-label">Insurance Type:</label>
            <div class="form-group col-md-3" style="margin-left:35px">
                <input type="text" class="form-control" id="Name" />
            </div>
        </div>
        <hr />
        <h5><b>Subscriber Secondary Identification</b></h5>
        <div class="row">
            <label for="Name" class="col-md-1 control-label">ID:</label>
            <div class="form-group col-md-3" style="margin-left:35px">
                <input type="text" class="form-control" id="Name" />
            </div>

            <label for="Name" class="col-md-1 control-label">ID Qualifier:</label>
            <div class="form-group col-md-3" style="margin-left:35px">
                <input type="text" class="form-control" id="Name" />
            </div>
        </div>
        <hr />
        <h5><b>Payer Secondary Identifier</b></h5>
        <div class="row">
            <label for="Name" class="col-md-1 control-label">ID:</label>
            <div class="form-group col-md-3" style="margin-left:35px">
                <input type="text" class="form-control" id="Name" />
            </div>

            <label for="Name" class="col-md-1 control-label">ID Qualifier:</label>
            <div class="form-group col-md-3" style="margin-left:35px">
                <input type="text" class="form-control" id="Name" />
            </div>
        </div>
        <div class="modal-footer">
            <input type="button" id="Assignmide" value="OK" />
            <input type="button" id="AssignmentOverride" value="Cancel" />

        </div>
    </div>

    <div id="Tokyo" class="tabcontent">
        <textarea rows="20" cols="160">

</textarea>
        <div class="modal-footer">
            <input type="button" id="Assignmide" value="OK" />
            <input type="button" id="AssignmentOverride" value="Cancel" />

        </div>
    </div>

        <script>
            function openCity(evt, cityName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            }
        </script>
        <!-- END ---------------------------------------------------------------- -->
    </div>




