﻿
@{
    ViewData["Title"] = "PatientInsuranceDetails";
}

<h5>Patient Insurance Details</h5>


<div style="margin:auto;width:100%;border-radius:15px;border:1px solid #808080;padding:50px;">
    <div class="row">

        </div>
    </div>
