﻿
@{
    ViewData["Title"] = "PatientAlerts";
}

<h5>Patient Specific Alerts</h5>

<style>
    input[type="radio"] {
        margin: 0 10px 0 10px;
    }

    input[type="checkbox"] {
        margin: 0 10px 0 10px;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .footer {
        background-color: #777;
        padding: 10px;
        text-align: center;
        color: white;
    }

    body {
        font-family: Arial;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>
<div style="margin:auto;width:100%;border-radius:15px;border:1px solid #808080;padding:50px;">
    <div class="row">
        <h5>Patient Name: Smith,Aron</h5>
    </div>
    <hr />
    <div class="row">
        <h5>Alert Type : </h5>

        <input type="radio" name="gender" value="male"> Lab <br>
        <input type="radio" name="gender" value="female"> DI<br>
        <input type="radio" name="gender" value="other"> Imm/T.Inj <br>
        <input type="radio" name="gender" value="male"> Procedure <br>
        <input type="radio" name="gender" value="female"> Billing <br>
        <input type="radio" name="gender" value="other"> Others <br>
    </div>
    <hr />

    <div class="row">
        <label for="Name" class="col-md-1 control-label">Name:</label>
        <div class="form-group col-md-5" style="margin-left:05px">
            <input type="text" class="form-control" id="Name" />
        </div>

        Recurring  <br /> <input type="checkbox" name="vehicle1" value="Bike"> <br>
    </div>

    <div class="row">
        <label for="Name" class="col-md-1 control-label">Description:</label>
        <div class="form-group col-md-5" style="margin-left:05px">
            <input type="text" class="form-control" id="Name" />
        </div>

        <label for="Name" class="col-md-1 control-label">Recall After:</label>
        <div class="form-group col-md-1" style="margin-left:05px">
            <input type="text" class="form-control" id="Name" />
        </div>
        <select class="form-group col-md-1" align="right" id="myList" style="margin-left:05px">
            <option value="1">Days</option>
            <option value="2">Weeks</option>
            <option value="3">Months</option>
            <option value="4">Years</option>
        </select>        
    </div>
    <div class="row">
        <div class="form-group col-md-2" style="margin-left:05px">
        </div>
        <div class="form-group col-md-2" style="margin-left:05px">
        </div>
        <div class="form-group col-md-2" style="margin-left:05px">
        </div>
        <label for="Name" class="col-md-2 control-label">Due Date:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="date" class="form-control" id="Name" />
        </div>
    </div>
        <hr />

        <!-- START ---------------------------------------------------------------- -->
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'London')">Addl Entities</button>
            <button class="tablinks" onclick="openCity(event, 'Paris')">Provider List</button>
        </div>
        <div id="London" class="tabcontent">

            <div class="form-group col-md-8" style="margin-left:35px">
                <input type="text" class="form-control" id="Name" placeholder="Quick Search" />
            </div>


            <div class="form-group col-md-8" style="margin-left:35px">
                <input type="text" class="form-control" id="Name" placeholder="Item Name" disabled />
            </div>
        </div>

        <div id="Paris" class="tabcontent">
            <div class="form-group col-md-8" style="margin-left:35px">
                <input type="text" class="form-control" id="Name" placeholder="Enter Resource Name" />
            </div>


            <div class="form-group col-md-8" style="margin-left:35px">
                <input type="text" class="form-control" id="Name" placeholder="Provider Name" disabled />
            </div>
        </div>

        <script>
            function openCity(evt, cityName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            }
        </script>
        <!-- END ---------------------------------------------------------------- -->
    </div>

