﻿
@{
    ViewData["Title"] = "PatientRecall";
}

<h6>PatientRecall</h6>

<style>

    body {
        font-family: Arial;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }

    input[type="radio"] {
        margin: 0 10px 0 10px;
    }

    input[type="checkbox"] {
        margin: 0 10px 0 10px;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .footer {
        background-color: #777;
        padding: 10px;
        text-align: center;
        color: white;
    }
</style>
<div style="margin:auto;width:100%;border-radius:15px;border:1px solid #808080;padding:50px;">

    <!-- START ---------------------------------------------------------------- -->
    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'London')">Appointment Date</button>
        <button class="tablinks" onclick="openCity(event, 'Paris')">Patient </button>
        <button class="tablinks" onclick="openCity(event, 'Tokyo')">Protocal</button>
        <button class="tablinks" onclick="openCity(event, 'India')">All Labs/DI/Imm Alerts</button>
        <button class="tablinks" onclick="openCity(event, 'Aussi')">Dx</button>
        <button class="tablinks" onclick="openCity(event, 'Kiwi')">Rx</button>
    </div>
    <div id="London" class="tabcontent">
        <div class="row">
            <label for="Name" class="col-md-1 control-label">Date(s):</label>
            <div class="form-group col-md-2" style="margin-left:05px">
                <input type="date" class="form-control" id="Name" />
            </div>

            <label for="Name" class="col-md-1 control-label">to</label>
            <div class="form-group col-md-2" style="margin-left:35px">
                <input type="date" class="form-control" id="Name" />
            </div>


            <label for="Name" class="col-md-1 control-label">Provider</label>
            <select class="form-group col-md-2" align="right" id="myList" style="margin-left:05px">
                <option value="1">All Provider</option>
            </select>

            <a><input type=button style='margin-left:16px' value='Filter' /></a>
        </div>
        <hr />

        <a><input type=button style='margin-left:16px' value='Run Letter' /></a>
        <a><input type=button style='margin-left:16px' value='Print Lable(s)' /></a>
        <a><input type=button style='margin-left:16px' value='Pt Hub' /></a>
        <a><input type=button style='margin-left:16px' value='New Appt' /></a>
        <a><input type=button style='margin-left:16px' value='Copy' /></a>
        <a><input type=button style='margin-left:16px' value='Status' /></a>
        <a><input type=button style='margin-left:16px' value='Alerts' /></a>
        <a><input type=button style='margin-left:16px' value='Messengers' /></a>
        <hr />

        <table style="width:100%">
            <tr>
                <th></th>
                <th>Patient Name</th>
                <th>Provider</th>
                <th>DOB</th>
                <th>Sex</th>
                <th>Age</th>
                <th>Home Phone</th>
                <th>Last Visit</th>
                <th>Next Visit</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>



        <div class="modal-footer">
            <input type="button" id="AssignmentOverride" value="Close" />
        </div>

    </div>

    <div id="Paris" class="tabcontent">
        <div class="row">

            <label for="Name" class="col-md-2 control-label"><b>Select Patient</b></label>
            <div class="form-group col-md-3" style="margin-left:05px">
                <input type="text" class="form-control" id="Name" placeholder="Search by Name" />
            </div>

            <a><input type=button style='margin-left:16px' value='Filter' /></a>
        </div>
        <hr />

        <a><input type=button style='margin-left:16px' value='Run Letter' /></a>
        <a><input type=button style='margin-left:16px' value='Print Lable(s)' /></a>
        <a><input type=button style='margin-left:16px' value='Pt Hub' /></a>
        <a><input type=button style='margin-left:16px' value='New Appt' /></a>
        <a><input type=button style='margin-left:16px' value='Copy' /></a>
        <a><input type=button style='margin-left:16px' value='Status' /></a>
        <a><input type=button style='margin-left:16px' value='Alerts' /></a>
        <a><input type=button style='margin-left:16px' value='Messengers' /></a>
        <hr />

        <table style="width:100%">
            <tr>
                <th></th>
                <th>Patient Name</th>
                <th>Test</th>
                <th>Provider</th>
                <th>DOB</th>
                <th>Sex</th>
                <th>Age</th>
                <th>Home Phone</th>
                <th>Last Done</th>
                <th>Due Date</th>
                <th>Last Visit</th>
                <th>Next Visit</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>



        <div class="modal-footer">
            <input type="button" id="AssignmentOverride" value="Close" />
        </div>


    </div>

    <div id="Tokyo" class="tabcontent">
        <div class="row">

            <label for="Name" class="col-md-2 control-label"><b>Protocol</b></label>
            <div class="form-group col-md-3" style="margin-left:05px">
                <input type="text" class="form-control" id="Name"  />
            </div>

            <label for="Name" class="col-md-2 control-label">Due By</label>
            <div class="form-group col-md-3" style="margin-left:05px">
                <input type="date" class="form-control" id="Name" />
            </div>

            <label for="Name" class="col-md-2 control-label">Patient Facility</label>
            <div class="form-group col-md-3" style="margin-left:05px">
                <input type="text" class="form-control" id="Name"  />
            </div>

            <a><input type=button style='margin-left:16px' value='Filter' /></a>
        </div>
        <hr />

        <a><input type=button style='margin-left:16px' value='Run Letter' /></a>
        <a><input type=button style='margin-left:16px' value='Print Lable(s)' /></a>
        <a><input type=button style='margin-left:16px' value='Pt Hub' /></a>
        <a><input type=button style='margin-left:16px' value='New Appt' /></a>
        <a><input type=button style='margin-left:16px' value='Copy' /></a>
        <a><input type=button style='margin-left:16px' value='Status' /></a>
        <a><input type=button style='margin-left:16px' value='Alerts' /></a>
        <a><input type=button style='margin-left:16px' value='Messengers' /></a>
        <hr />

        <table style="width:100%">
            <tr>
                <th></th>
                <th>Patient Name</th>
                <th>Test</th>
                <th>DOB</th>
                <th>Sex</th>
                <th>Age</th>
                <th>Home Phone</th>
                <th>Last Done</th>
                <th>Due Date</th>
                <th>Last Visit</th>
                <th>Next Visit</th>
                <th>Status</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <div class="modal-footer">
            <input type="button" id="AssignmentOverride" value="Close" />
        </div>
    </div>

    <div id="India" class="tabcontent">
        <div class="row">

            <label for="Name" class="col-md-2 control-label"><b>Protocol</b></label>
            <div class="form-group col-md-3" style="margin-left:05px">
                <input type="text" class="form-control" id="Name" />
            </div>

            <label for="Name" class="col-md-2 control-label">Provider/Facility Filter</label>
            <div class="form-group col-md-3" style="margin-left:05px">
                <input type="text" class="form-control" id="Name" />
            </div>

            <label for="Name" class="col-md-2 control-label">Report List</label>
            <div class="form-group col-md-3" style="margin-left:05px">
                <input type="text" class="form-control" id="Name" />
            </div>

            <label for="Name" class="col-md-2 control-label">Due By</label>
            <div class="form-group col-md-3" style="margin-left:05px">
                <input type="date" class="form-control" id="Name" />
            </div>

            <label for="Name" class="col-md-2 control-label">Patient Facility</label>
            <div class="form-group col-md-3" style="margin-left:05px">
                <input type="text" class="form-control" id="Name" />
            </div>

            <a><input type=button style='margin-left:16px' value='Filter' /></a>
        </div>
        <hr />

        <a><input type=button style='margin-left:16px' value='Run Letter' /></a>
        <a><input type=button style='margin-left:16px' value='Print Lable(s)' /></a>
        <a><input type=button style='margin-left:16px' value='Pt Hub' /></a>
        <a><input type=button style='margin-left:16px' value='New Appt' /></a>
        <a><input type=button style='margin-left:16px' value='Copy' /></a>
        <a><input type=button style='margin-left:16px' value='Status' /></a>
        <a><input type=button style='margin-left:16px' value='Alerts' /></a>
        <a><input type=button style='margin-left:16px' value='Messengers' /></a>
        <hr />

        <table style="width:100%">
            <tr>
                <th></th>
                <th>Patient Name</th>
                <th>Test</th>
                <th>DOB</th>
                <th>Sex</th>
                <th>Age</th>
                <th>Home Phone</th>
                <th>Last Done</th>
                <th>Due Date</th>
                <th>Last Visit</th>
                <th>Next Visit</th>
                <th>Status</th>
                <th>Providers</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <div class="modal-footer">
            <input type="button" id="AssignmentOverride" value="Close" />
        </div>
    </div>
    <div id="Aussi" class="tabcontent">
        <div class="row">

            <label for="Name" class="col-md-2 control-label"><b>Dx Alerts</b></label>
            <div class="form-group col-md-3" style="margin-left:05px">
                <input type="text" class="form-control" id="Name" />
            </div>

            <label for="Name" class="col-md-2 control-label">Provider/Facility Filter</label>
            <div class="form-group col-md-3" style="margin-left:05px">
                <input type="text" class="form-control" id="Name" />
            </div>

            <label for="Name" class="col-md-2 control-label">Search By</label>
            <select class="form-group col-md-2" align="right" id="myList" style="margin-left:05px">
                <option value="1">Patient Assessemnets</option>
                <option value="2">Patient Problem List</option>  </select>

            <label for="Name" class="col-md-2 control-label">Due By</label>
            <div class="form-group col-md-3" style="margin-left:05px">
                <input type="date" class="form-control" id="Name" />
            </div>

         

            <a><input type=button style='margin-left:16px' value='Filter' /></a>
        </div>
        <hr />

        <a><input type=button style='margin-left:16px' value='Run Letter' /></a>
        <a><input type=button style='margin-left:16px' value='Print Lable(s)' /></a>
        <a><input type=button style='margin-left:16px' value='Pt Hub' /></a>
        <a><input type=button style='margin-left:16px' value='New Appt' /></a>
        <a><input type=button style='margin-left:16px' value='Copy' /></a>
        <a><input type=button style='margin-left:16px' value='Status' /></a>
        <a><input type=button style='margin-left:16px' value='Alerts' /></a>
        <a><input type=button style='margin-left:16px' value='Messengers' /></a>
        <hr />

        <table style="width:100%">
            <tr>
                <th></th>
                <th>Patient Name</th>
                <th>Test</th>
                <th>DOB</th>
                <th>Sex</th>
                <th>Age</th>
                <th>Home Phone</th>
                <th>Last Done</th>
                <th>Due Date</th>
                <th>Last Visit</th>
                <th>Next Visit</th>
                <th>Status</th>
              
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <div class="modal-footer">
            <input type="button" id="AssignmentOverride" value="Close" />
        </div>
    </div>
    <div id="Kiwi" class="tabcontent">
        <div class="row">

            <label for="Name" class="col-md-2 control-label"><b>Rx Alerts</b></label>
            <div class="form-group col-md-3" style="margin-left:05px">
                <input type="text" class="form-control" id="Name" />
            </div>

            <label for="Name" class="col-md-2 control-label">Provider/Facility Filter</label>
            <div class="form-group col-md-3" style="margin-left:05px">
                <input type="text" class="form-control" id="Name" />
            </div>

          

            <label for="Name" class="col-md-2 control-label">Due By</label>
            <div class="form-group col-md-3" style="margin-left:05px">
                <input type="date" class="form-control" id="Name" />
            </div>



            <a><input type=button style='margin-left:16px' value='Filter' /></a>
        </div>
        <hr />

        <a><input type=button style='margin-left:16px' value='Run Letter' /></a>
        <a><input type=button style='margin-left:16px' value='Print Lable(s)' /></a>
        <a><input type=button style='margin-left:16px' value='Pt Hub' /></a>
        <a><input type=button style='margin-left:16px' value='New Appt' /></a>
        <a><input type=button style='margin-left:16px' value='Copy' /></a>
        <a><input type=button style='margin-left:16px' value='Status' /></a>
        <a><input type=button style='margin-left:16px' value='Alerts' /></a>
        <a><input type=button style='margin-left:16px' value='Messengers' /></a>
        <hr />

        <table style="width:100%">
            <tr>
                <th></th>
                <th>Patient Name</th>
                <th>Test</th>
                <th>DOB</th>
                <th>Sex</th>
                <th>Age</th>
                <th>Home Phone</th>
                <th>Last Done</th>
                <th>Due Date</th>
                <th>Last Visit</th>
                <th>Next Visit</th>
                <th>Status</th>
                <th>Providers</th>

            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <div class="modal-footer">
            <input type="button" id="AssignmentOverride" value="Close" />
        </div>
    </div>

    <script>
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
    <!-- END ---------------------------------------------------------------- -->
</div>