﻿
@{
    ViewData["Title"] = "PatientInq";
}

<h2>Patient Inquiry Details</h2>


<style>
    input[type="radio"] {
        margin: 0 10px 0 10px;
    }

    input[type="checkbox"] {
        margin: 0 10px 0 10px;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .footer {
        background-color: #777;
        padding: 10px;
        text-align: center;
        color: white;
    }

    body {
        font-family: Arial;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>
<div style="margin:auto;width:100%;border-radius:15px;border:1px solid #808080;padding:50px;">
    <div class="row">
        <h5><u><b>Patient Enquiry Detail</b></u> <br />    </h5> <h5>Statement</h5>
    </div>
    <hr />
    <h5> Statements - Aaron Smith</h5>
    <hr />
    <h5>Payment Histroy</h5>
    <hr />
    <table style="width:100%">
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Type</th>
            <th>Check No</th>
            <th>Amount</th>
        </tr>
    </table>
    <hr />
    <h5>Refund Histroy</h5>
    <hr />
    <table style="width:100%">
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Type</th>
            <th>Check No</th>
            <th>Amount</th>
        </tr>
    </table>

    <div class="modal-footer">
        <input type="button" id="AssignmentOverride" value="Close" />
        @*<input type="button" id="Assignmide" value="OK" />*@
    </div>
</div>