﻿
@{
    ViewData["Title"] = "PatientInquiry";
}

<h5>PatientInquiry</h5>

<div style="margin:auto;width:100%;border-radius:15px;border:1px solid #808080;padding:50px;">
    <div class="row">
        <h5><u><b>Patient Enquiry Detail</b></u> <br />    </h5> <h5>Statement</h5>
    </div>
    <hr />
    <h5> Statements - Aaron Smith</h5>
    <hr />
    <table style="width:100%">
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Stmt type</th>
        </tr>
    </table>

    <div class="modal-footer">
        <input type="button" id="AssignmentOverride" value="Close" />
        @*<input type="button" id="Assignmide" value="OK" />*@
    </div>
</div>