﻿
@{
    ViewData["Title"] = "Provider";
}

<h5>Providers</h5>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .footer {
            background-color: #777;
            padding: 10px;
            text-align: center;
            color: white;
        }
    </style>
</head>
<body>
    <div style="margin:auto;width:100%;border-radius:15px;border:1px solid #808080;padding:70px;">

        <div class="row">
            <div> <label for="Name" class="col-md-2 control-label">Provider </label></div>
            <div class="form-group col-md-2" style="margin-left:05px">
                <input type="text" class="form-control" id="LookUp Facility" />
            </div>

            <select class="form-group col-md-2" align="right" id="myList" style="margin-left:05px">
                <option value="1">First Name</option>
                <option value="2">Last Name</option>
                <option value="3">Speciality</option>
                <option value="4">NPI</option>
            </select>

            
                @*<input type="text" class="form-control" id="Name" placeholder="All Specialities" />*@
                <select class="form-group col-md-2" align="right" id="myList" style="margin-left:05px">
                    <option value="1">Practice Provider</option>
                    <option value="2">Reffering Provider</option>
                    <option value="3">All Providers</option>
                   
                </select>
          

        </div>
        <a href="~/Home/ProviderAddress"><input type=button value='Provider Address' /></a>
        <a href="~/Home/ProviderID"><input type=button value='Provider ID' /></a>
        @*<button type="button" data-toggle="modal" data-target="#Logs">Provider ID's</button>*@
        <hr />

        <table style="width:100%">
            <tr>
                <th>ProviderName</th>
                <th>Speciality</th>
                <th>Address</th>             
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Tel</th>
                <th>Fax</th>
                <th>NPI</th>
            </tr>
            <tr>
                <td>Megha</td>
                <td>Internal Medicine</td>
                <td>4305 Walla</td> 
                <td>Dallas</td>
                <td>TX</td>
                <td>75238 1331</td>
                <td>901-901-9999</td>
                <td>901-901-9999</td>
                <td>1234567890</td>
            </tr>
        </table>



        <div class="modal-footer">
            <input type="button" id="AssignmentOverride" value="Close" />
            @*<input type="button" id="Assignmide" value="OK" />*@
        </div>

    </div>
</body>
</html>
