﻿
@{
    ViewData["Title"] = "SOGILogs";
}

<h5>SOGI Logs</h5>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
    body {
        font-family: Arial;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>
<div style="margin:auto;width:100%;border-radius:15px;border:1px solid #808080;padding:70px;">


    <!-- START ---------------------------------------------------------------- -->
    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'London')">S.O Logs </button>
        <button class="tablinks" onclick="openCity(event, 'Paris')">G I Log</button>
        <button class="tablinks" onclick="openCity(event, 'Tokyo')">Birth Sex Logs</button>
    </div>
    <div id="London" class="tabcontent">

        <label for="Name" class="col-md-5 control-label"><h5><b>Sexual Orientation Log</b></h5></label>
        <table style="width:100%">
            <tr>
                <th></th>
                <th>Modified By</th>
                <th>Value</th>
                <th>Modified On</th>
                <th>Action</th>
                <th>Modiality</th>
            </tr>
        </table>
        <div class="modal-footer">
            <h6>Note: DENOTES ACTIVE Sexual Orientation Logs Options</h6>
            <input type="button" id="AssignmentOverride" value="Close" />
        </div>
    </div>

    <div id="Paris" class="tabcontent">
        <label for="Name" class="col-md-5 control-label"><h5><b>Gender Identity Log</b></h5></label>
        <table style="width:100%">
            <tr>
                <th></th>
                <th>Modified By</th>
                <th>Value</th>
                <th>Modified On</th>
                <th>Action</th>
                <th>Modiality</th>
            </tr>
        </table>
        <div class="modal-footer">
            <h6>Note: DENOTES ACTIVE Sexual Orientation Logs Options</h6>
            <input type="button" id="AssignmentOverride" value="Close" />
        </div>

    </div>

    <div id="Tokyo" class="tabcontent">
        <label for="Name" class="col-md-5 control-label"><h5><b>Birth Sex Log</b></h5></label>
        <table style="width:100%">
            <tr>
                <th></th>
                <th>Modified By</th>
                <th>Value</th>
                <th>Modified On</th>
                <th>Action</th>
                <th>Modiality</th>
            </tr>
        </table>
        <div class="modal-footer">
            <h6><center>Note: DENOTES ACTIVE Sexual Orientation Logs Options</center></h6>
            <input type="button" id="AssignmentOverride" value="Close" />
        </div>
    </div>



    <script>
        function openCity(evt, cityName) {

            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
    <!-- END ---------------------------------------------------------------- -->
</div>

