﻿
@{
    ViewData["Title"] = "SOGI";
}

<h4>S.O./G.I</h4>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .footer {
        background-color: #777;
        padding: 10px;
        text-align: center;
        color: white;
    }
</style>

<div style="margin:auto;width:100%;border-radius:15px;border:1px solid #808080;padding:50px;">

    <div class="container">
        <form>
            <label for="Name" class="col-md-2 control-label"><h5><b>Birth Sex</b></h5></label>
            <label class="radio-inline">
                <input type="radio" name="optradio" checked>Male
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio">Female
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio">Unknown
            </label>
        </form>
    </div>

    <hr />

    <label for="Name" class="col-md-3 control-label"><h5><b>Sexual Orientation</b></h5></label>
    <table style="width:100%">
        <tr>
            <th></th>
            <th align="centre">Name</th>
            <th align="centre">SNOMED Code</th>
        </tr>

        <tr>
            <td>  <input type="radio"></td>
            <td>Lesbian,gay or Homosexual</td>
            <td>38628009</td>
        </tr>
        <tr>
            <td>  <input type="radio"></td>
            <td>Straight or Hetrosexual</td>
            <td>20430005</td>
        </tr>
        <tr>
            <td>  <input type="radio"></td>
            <td>Bisexual</td>
            <td>42035005</td>
        </tr>
        <tr>
            <td>  <input type="radio"></td>
            <td>Do Not Know</td>
            <td>ASKU</td>
        </tr>
        <tr>
            <td>  <input type="radio"></td>
            <td>Choose not to Disclose</td>
            <td>UNK</td>
        </tr>
        <tr>
            <td>  <input type="radio"></td>
            <td>Something else,please describe</td>
            <td>OTH</td>
        </tr>
    </table>

    <hr />

    <label for="Name" class="col-md-3 control-label"><h5><b>Gender Identity</b></h5></label>
    <table style="width:100%">
        <tr>
            <th></th>
            <th align="centre">Name</th>
            <th align="centre">SNOMED Code</th>
        </tr>

        <tr>
            <td>  <input type="radio"></td>
            <td>Male</td>
            <td>38628009</td>
        </tr>
        <tr>
            <td>  <input type="radio"></td>
            <td>Female</td>
            <td>20430005</td>
        </tr>
        <tr>
            <td>  <input type="radio"></td>
            <td>Female to Male(FTM)/Transgender</td>
            <td>42035005</td>
        </tr>
        <tr>
            <td>  <input type="radio"></td>
            <td>Male to Female(MTF)</td>
            <td>ASKU</td>
        </tr>
        <tr>
            <td>  <input type="radio"></td>
            <td>Genderqueer</td>
            <td>UNK</td>
        </tr>
        <tr>
            <td>  <input type="radio"></td>
            <td>Choose not to disclose</td>
            <td>OTH</td>
        </tr>
        <tr>
            <td>  <input type="radio"></td>
            <td>Additional gender catagory</td>
            <td>OTH</td>
        </tr>
        <tr>
            <td>  <input type="radio"></td>
            <td>Transgender</td>
            <td>OTH</td>
        </tr>
    </table>
    <a href="~/Home/SOGILogs"><input type=button align="right" value='Logs'></a>
    <div class="modal-footer">
        <input type="button" id="Assignmide" value="OK" />
        <input type="button" id="AssignmentOverride" value="Close" />

    </div>
</div>

